/**
 * Style for your Customizer editor.
 */
#sub-accordion-section-gemcrypto_theme_options.accordion-section-content {
  background: #fff; }

#customize-control-gemcrypto-header-footer .customize-control-header-footer-holder {
  margin: 12px auto 12px;
  max-width: 300px;
  text-align: center; }

#customize-control-gemcrypto-header-footer .elementor-panel-heading-title {
  font-weight: 600;
  margin: 10px 0 4px; }

#customize-control-gemcrypto-header-footer .elementor-section-body {
  margin: .1em 0 1.3em; }
