.single-members {
  .members {
    display: flex;
    .entry-thumbnail {
      width: 40%;
      margin: 0;
      line-height: 0;
      img {
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
    }
    .entry-content {
      width: 60%;
      padding-left: 60px;
    }
    .entry-job {
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .entry-heading {
      margin-bottom: 0.5rem;
    }
    .entry-email,
    .entry-phone {
      span {
        display: inline-block;
        font-weight: 500;
        min-width: 80px;
      }
    }
    .entry-email {
      margin-bottom: 0.2rem;
    }
    .entry-phone {
      margin-bottom: 1rem;
    }
    .entry-socials {
      a {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 1;
        -webkit-transition: all .3s;
        transition: all .3s;
        &:not(:last-child) {
          margin-right: 10px;
        }
        i,
        svg {
          width: 1em;
          height: 1em;
          &:before {
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
          }
        }
      }
    }

    @media( max-width: 991px) {
      .entry-content {
        padding-left: 30px;
      }
    }

    @media( max-width: 767px) {
      flex-direction: column;
      .entry-thumbnail {
        width: 100%;
      }
      .entry-content {
        width: 100%;
        padding: 1rem 0 0;
      }
    }
  }

  .related-posts {
    margin: 4rem 0 2rem;
    .related-heading {
      margin-bottom: 2rem;
    }
    .members-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px;
      @media ( max-width: 991px ) {
        grid-template-columns: 1fr 1fr;
      }
      @media ( max-width: 767px ) {
        grid-template-columns: 1fr;
      }
    }
    .member-item {
      text-align: center;
      .entry-thumbnail {
        margin: 0;
        line-height: 0;
        img {
          width: 100%;
          height: auto;
          border-radius: 4px;
        }
      }
      .entry-title {
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem;
      }
      .entry-job {
        font-size: 0.9rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }
      .entry-socials {
        a {
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          line-height: 1;
          margin: 4px;
          -webkit-transition: all .3s;
          transition: all .3s;
          i,
          svg {
            width: 1em;
            height: 1em;
            &:before {
              position: absolute;
              left: 50%;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
}

.tax-members_category {
  .page-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    @media ( max-width: 991px ) {
      grid-template-columns: 1fr 1fr;
    }
    @media ( max-width: 767px ) {
      grid-template-columns: 1fr;
    }
  }
  .members {
    text-align: center;
    .entry-thumbnail {
      margin: 0;
      line-height: 0;
      img {
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
    }
    .entry-title {
      font-size: 1.5rem;
      margin: 1rem 0 0.5rem;
    }
    .entry-job {
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }
    .entry-socials {
      a {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 1;
        margin: 4px;
        -webkit-transition: all .3s;
        transition: all .3s;
        i,
        svg {
          width: 1em;
          height: 1em;
          &:before {
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
