.single-projects {
  .projects {
    display: flex;
    .entry-thumbnail {
      width: 40%;
      margin: 0;
      line-height: 0;
      img {
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
    }
    .entry-content {
      width: 60%;
      padding-left: 60px;
    }
    .cat-links {
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 1rem;
      svg {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        vertical-align: middle;
        color: $primary-color;
      }
    }
    .entry-meta {
      margin-bottom: 0.2rem;
      span {
        display: inline-block;
        min-width: 130px;
        font-size: 0.9rem;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    .entry-type {
      margin-bottom: 1rem;
    }
    .entry-socials {
      a {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 1;
        -webkit-transition: all .3s;
        transition: all .3s;
        &:not(:last-child) {
          margin-right: 10px;
        }
        i,
        svg {
          width: 1em;
          height: 1em;
          &:before {
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
          }
        }
      }
    }

    @media( max-width: 991px) {
      .entry-content {
        padding-left: 30px;
      }
    }

    @media( max-width: 767px) {
      flex-direction: column;
      .entry-thumbnail {
        width: 100%;
      }
      .entry-content {
        width: 100%;
        padding: 1rem 0 0;
      }
    }
  }
  .related-posts {
    margin: 4rem 0 2rem;
    .related-heading {
      margin-bottom: 2rem;
    }
    .projects-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px;
      @media ( max-width: 991px ) {
        grid-template-columns: 1fr 1fr;
      }
      @media ( max-width: 767px ) {
        grid-template-columns: 1fr;
      }
    }
    .project-item {
      .wp-post-image {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        border-radius: 3px;
        @media (max-width: 991px) {
          max-height: 400px;
        }
        @media (max-width: 575px) {
          max-height: 300px;
        }
      }
      .entry-title {
        font-size: 1.5rem;
        margin: 0;
      }
      .entry-thumbnail {
        line-height: 0;
        margin: 0 0 1rem;
      }
    }
  }
}

.tax-projects_category {
  .page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    @media ( max-width: 767px ) {
      grid-template-columns: 1fr;
    }
  }
  .projects {
    .wp-post-image {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      border-radius: 3px;
      @media (max-width: 991px) {
        max-height: 400px;
      }
      @media (max-width: 575px) {
        max-height: 300px;
      }
    }
    .entry-title {
      font-size: 1.5rem;
      margin: 0;
    }
    .entry-thumbnail {
      line-height: 0;
      margin: 0 0 1rem;
    }
  }
}
