/**
 * DO NOT CHANGE THIS FILE!
 * To override any of the settings in this section, add your styling code in the custom directory.
 * Loading first in the style.scss & classic-editor.scss
 */
/**
 * General - https://codex.wordpress.org/CSS#WordPress_Generated_Classes
 * DO NOT CHANGE THIS FILE
 * to override any of the settings in this section, add your styling code in the custom directory.
 */
.alignright {
  float: right;
  margin-left: 1rem;
}

.alignleft {
  float: left;
  margin-right: 1rem;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignwide {
  margin-left: -80px;
  margin-right: -80px;
  width: calc(100% + 160px);
  max-width: 100vw;
  @media( max-width: 767px ) {
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
  }
  @media( max-width: 585px ) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.alignfull {
  margin-left: calc((50% + 7px) - 50vw);
  margin-right: calc((50% + 7px) - 50vw);
  max-width: 100vw;
  width: calc( 100vw - 16px );
}

.wp-caption {
  margin-bottom: 1.25rem;
  max-width: 100%;
  &.alignleft {
    margin: 5px 20px 20px 0;
  }
  &.alignright {
    margin: 5px 0 20px 20px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption-text {
  margin: 0;
}

.gallery-caption {
  display: block;
  font-size: 0.8125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0.75rem;
}

.sticky {
  position: relative;
  display: block;
}

.bypostauthor {
  font-size: inherit;
}

.hide {
  display: none !important;
}

.wp-block-button {
  color: #FFFFFF;
}

.wp-block-cover {
  color: #FFFFFF;
  margin-bottom: 0.9rem;
}

.post-password-form {
  input[type="submit"] {
    vertical-align: bottom;
  }
}

.wp-block-media-text {
  margin-bottom: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  .gallery-item {
    margin: 0;
    padding: 4px;
  }
  &.gallery-columns-2 .gallery-item {
    width: 50%;
  }
  &.gallery-columns-3 .gallery-item {
    width: 33.33%;
  }
  &.gallery-columns-4 .gallery-item {
    width: 25%;
  }
  &.gallery-columns-5 .gallery-item {
    width: 20%;
  }
  &.gallery-columns-6 .gallery-item {
    width: 16.66%;
  }
  &.gallery-columns-7 .gallery-item {
    width: 14.28%;
  }
  &.gallery-columns-8 .gallery-item {
    width: 12.5%;
  }
  &.gallery-columns-9 .gallery-item {
    width: 11.11%;
  }
  @media(max-width: 1024px) {
    &.gallery-columns-7 .gallery-item,
    &.gallery-columns-8 .gallery-item,
    &.gallery-columns-9 .gallery-item {
      width: 16.66%;
    }
  }
  @media(max-width: 768px) {
    &.gallery-columns-5 .gallery-item,
    &.gallery-columns-6 .gallery-item,
    &.gallery-columns-7 .gallery-item,
    &.gallery-columns-8 .gallery-item,
    &.gallery-columns-9 .gallery-item {
      width: 25%;
    }
  }
  @media(max-width: 576px) {
    &.gallery-columns-4 .gallery-item,
    &.gallery-columns-5 .gallery-item,
    &.gallery-columns-6 .gallery-item,
    &.gallery-columns-7 .gallery-item,
    &.gallery-columns-8 .gallery-item,
    &.gallery-columns-9 .gallery-item {
      width: 33.33%;
    }
  }
}

.post-tags {
  margin: 1.5rem 0;
  clear: both;
}

/*
DO NOT CHANGE THIS FILE
to override any of the settings in this section, add your styling code in the custom directory.
 */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
  &:focus {
    background-color: #eeeeee;
    clip: auto !important;
    clip-path: none;
    color: #333333;
    display: block;
    font-size: 1rem;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
  }
}

/**
 * Header styling and layout
 */
.site-header {
  /* Backwards compat for GemCrypto 2.3.0 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  .site-navigation {
    justify-content: flex-end;
  }
  .site-branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .custom-logo-link {
      display: block;
    }
    .site-branding {
      .site-title,
      .site-description {
          margin: 0;
      }
      &.show-title .site-logo {
        display: none !important;
      }
      &.show-logo .site-title {
        display: none !important;
      }
    }
  }
  &:not(.header-stacked) .header-inner {
    .site-branding {
      max-width: 30%;
    }
    .site-navigation {
      max-width: 70%;
    }
  }
  &.header-inverted .header-inner {
    flex-direction: row-reverse;
    .site-branding {
      text-align: right;
    }
    .site-navigation {
      justify-content: start;
    }
  }
  &.header-stacked .header-inner {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  @media (max-width: 576px) {
    .header-inner:not(.header-stacked) .site-branding {
      max-width: 80%;
    }
  }
}

/**
 * Footer styling and layout
 */
.site-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  .footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .custom-logo-link {
      display: block;
    }
    .site-navigation {
      justify-content: flex-end;
    }
    .site-branding {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .site-title,
      .site-description {
        margin: 0;
      }
      &.show-title .site-logo {
        display: none !important;
      }
      &.show-logo .site-title {
        display: none !important;
      }
    }
    .copyright {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      p {
        margin: 0;
      }
    }
  }
  &.footer-inverted .footer-inner {
    flex-direction: row-reverse;
    .site-branding {
      text-align: right;
    }
    .site-navigation {
      justify-content: flex-start;
    }
  }
  &.footer-has-copyright .footer-inner .site-navigation {
    justify-content: center;
  }
  &.footer-stacked .footer-inner {
    align-items: center;
    flex-direction: column;
    text-align: center;
    .site-branding h4.site-title {
      text-align: center;
    }
    .site-navigation .menu {
      padding: 0;
    }
  }
  &:not(.footer-stacked) .footer-inner {
    .site-branding {
      max-width: 20%;
    }
    .site-navigation {
      max-width: 60%;
    }
    .copyright {
      max-width: 20%;
    }
  }
  @media (max-width: 576px) {
    &:not(.footer-stacked) .footer-inner {
      .site-branding,
      .site-navigation,
      .copyright {
        display: block;
        text-align: center;
        width: 100%;
        max-width: none;
      }
    }
    .site-footer .footer-inner .site-navigation ul.menu {
      justify-content: center;
      li {
        display: inline-block;
      }
    }
  }
}

/**
 * Post Item in Archive
 */
 .post {
   margin-bottom: 3rem;
   &.sticky {
      background: #fafafa;
      padding: 2rem;
      border-radius: 4px;
      .sticky-post {
        display: inline-block;
        font-size: 0.9rem;
        font-weight: 500;
        text-transform: uppercase;
      }
   }
   .wp-post-image {
     width: 100%;
     max-height: 500px;
     object-fit: cover;
     border-radius: 3px;
     @media (max-width: 991px) {
       max-height: 400px;
     }
     @media (max-width: 575px) {
       max-height: 300px;
     }
   }
   .entry-title {
     word-wrap: break-word;
   }
   .entry-thumbnail {
     line-height: 0;
     margin: 1.5rem 0;
   }
   .entry-content {
     margin: 1rem 0;
   }
   .entry-meta,
   .entry-footer {
     svg {
       width: 16px;
       height: 16px;
       fill: currentColor;
       margin: -2px 4px 0 0;
       display: inline-block;
       vertical-align: middle;
     }
     span {
       display: inline-block;
       &:not(:last-child) {
         margin-right: 1.5rem;
       }
     }
   }
   .entry-footer {
     clear: both;
     margin: 1rem 0;
   }
 }

 /**
  * Posts pagination
  */
.pagination {
  margin: 3rem auto;
  .nav-links {
    text-align: center;
    svg {
      width: 20px;
      height: 20px;
      fill: currentColor;
    }
    .page-numbers {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      min-width: 40px;
      height: 40px;
      margin: 4px 2px;
      padding: 8px;
      border: 3px;
      -webkit-box-shadow: 0 0 1px;
      box-shadow: 0 0 1px;
      &.prev {
        padding-left: 2px;
      }
      &.next {
        padding-right: 2px;
      }
    }
  }
}

.author-bio {
  display: flex;
  align-items: center;
  background: #fafafa;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 3px;
  .author-avatar {
    width: 120px;
    line-height: 0;
    img {
      border-radius: 3px;
    }
  }
  .author-content {
    width: calc(100% - 120px);
    padding-left: 1.5rem;
  }
  .author-title {
    font-size: 1.25rem;
    margin: 0 0 0.5rem;
  }
  .author-description {
    margin-bottom: 0.5rem;
  }
  @media(max-width: 768px) {
    flex-direction: column;
    align-items: start;
    .author-avatar {
      width: 80px;
    }
    .author-content {
      width: 100%;
      padding: 1rem 0 0;
    }
  }
  @media (max-width: 575px) {
    padding: 1rem;
  }
}

/**
 * Previous/next post navigation
 */
.post-navigation {
  background: #fafafa;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 3px;
  @media (max-width: 575px) {
    padding: 1rem;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    > div {
      width: calc(50% - 1rem);
      &:not(:first-child) {
        text-align: right;
      }
    }
    @media(max-width: 768px) {
      flex-direction: column;
      > div {
        width: 100%;
        &:not(:first-child) {
          margin-top: 1rem;
        }
      }
    }
  }
  .meta-nav {
    color: #333333;
  }
  .post-title {
    word-wrap: break-word;
    display: inline-block;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 4px;
  }
}

/**
 * Comments
 */
#comments {
  .comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .9em;
  }
  .comment,
  .pingback {
    position: relative;
    .comment-body {
      display: flex;
      flex-direction: column;
      padding: 30px 0 30px 60px;
      border-bottom: 1px solid #cccccc;
    }
    .avatar {
      position: absolute;
      left: 0;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  .comment-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: .9rem;
  }
  .reply,
  .comment-metadata {
    font-size: 11px;
    line-height: 1;
  }
  .children {
    position: relative;
    list-style: none;
    margin: 0;
    padding-left: 30px;
    li:last-child {
      padding-bottom: 0;
    }
  }
  ol.comment-list .children:before {
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    line-height: 100%;
    content: '\21AA';
    position: absolute;
    top: 45px;
    left: 0;
    width: auto;
  }
  @media (min-width: 768px) {
    .comment-author,
    .comment-metadata {
      line-height: 1;
    }
  }
  @media (max-width: 767px) {
    .comment {
      .comment-body {
        padding: 30px 0;
      }
      .avatar {
        position: inherit;
        float: left;
      }
    }
    .children {
      padding-left: 20px;
    }
  }
}

body.rtl #comments  {
  .comment,
  .pingback {
    .comment-body {
      padding: 30px 60px 30px 0;
    }
    .avatar {
      left: auto;
      right: 0;
      margin-right: 0;
      margin-left: 10px;
    }
  }
  .children {
    padding-left: 0;
    padding-right: 30px;
  }
  ol.comment-list .children:before {
    content: '\21A9';
    left: auto;
    right: 0;
  }
  @media (max-width: 767px) {
    .comment .avatar {
      float: right;
    }
  }
}

/**
 * Navigation Menu's
 */
.site-header {
  &.header-inverted .site-navigation-toggle-holder {
    justify-content: flex-start;
  }
  &.header-stacked .site-navigation-toggle-holder {
    justify-content: center;
    max-width: 100%;
  }
  &.menu-layout-dropdown .site-navigation {
    display: none;
  }
}

.site-navigation-toggle-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  max-width: 20%;
  padding: 8px 15px;
  .site-navigation-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 0.25em;
    cursor: pointer;
    border: 0 solid;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
    color: #494c4f;
  }
  &.elementor-active .site-navigation-toggle i:before {
    content: '\e87f';
  }
}

.site-navigation {
  grid-area: nav-menu;
  display: flex;
  align-items: center;
  flex-grow: 1;
  ul.menu,
  ul.menu ul {
    list-style-type: none;
    padding: 0;
  }
  ul.menu {
    display: flex;
    flex-wrap: wrap;
    li {
      position: relative;
      display: flex;
      &:hover > ul {
        display: block;
      }
      a {
        display: block;
        padding: 8px 15px;
      }
      &.menu-item-has-children {
        padding-right: 15px;
        &:after {
          display: block;
          content: '\25BE';
          font-size: 1.5em;
          align-items: center;
          color: #666666;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          text-decoration: none;
        }
      }
      ul {
        background: #fff;
        display: none;
        min-width: 150px;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 100%;
        li {
          border-bottom: #eeeeee 1px solid;
          &:last-child {
            border-bottom: none;
          }
          &.menu-item-has-children {
            a {
              flex-grow: 1;
            }
            &:after {
              transform: translateY(-50%) rotate(-90deg);
            }
          }
        }
        ul {
          left: 100%;
          top: 0;
        }
      }
    }
  }
}

footer .site-navigation {
  ul.menu {
    a {
      padding: 5px 15px;
    }
    li ul {
      top: auto;
      bottom: 100%;
      ul {
        bottom: 0;
      }
    }
  }
}

.site-navigation-dropdown {
  margin-top: 10px;
  transition: max-height 0.3s, transform 0.3s;
  transform-origin: top;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
}
.site-navigation-toggle-holder{
  &:not(.elementor-active) + .site-navigation-dropdown {
    transform: scaleY(0);
    max-height: 0;
  }
  &.elementor-active + .site-navigation-dropdown {
    transform: scaleY(1);
    max-height: 100vh;
  }
}

.site-navigation-dropdown ul {
  padding: 0;
  &.menu {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    background: white;
    li {
      display: block;
      width: 100%;
      position: relative;
      a {
        display: block;
        padding: 20px;
        background: #ffffff;
        color: #55595c;
        box-shadow: inset 0 -1px 0 #0000001a;
      }
      &.current-menu-item a {
        color: white;
        background: #55595c;
      }
      &.elementor-active > ul > li {
        transform: scaleY(1);
        max-height: 100vh;
      }
    }
    > li li {
      transition: max-height 0.3s, transform 0.3s;
      transform-origin: top;
      transform: scaleY(0);
      max-height: 0;
    }
  }
}

@media (max-width: 576px) {
  .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation-toggle-holder {
    display: none !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .site-header.menu-dropdown-tablet:not(.menu-layout-dropdown) .site-navigation-toggle-holder {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .site-header.menu-dropdown-tablet:not(.menu-layout-dropdown) .site-navigation {
    display: none !important;
  }
}

.site-header.menu-dropdown-none:not(.menu-layout-dropdown) .site-navigation-toggle-holder {
  display: none !important;
}

/**
 * Basic responsive layout
 */
.site-header .header-inner,
.site-header:not(.dynamic-header),
.site-footer .footer-inner,
.site-footer:not(.dynamic-footer),
body:not([class*="elementor-page-"]) .site-main {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

body:not([class*="elementor-page-"]) .site-main {
  padding: 4rem 0;
}

@media (max-width: 575px) {
  .site-header .header-inner,
  .site-header:not(.dynamic-header),
  .site-footer .footer-inner,
  .site-footer:not(.dynamic-footer),
  body:not([class*="elementor-page-"]) .site-main {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 576px) {
  .site-header .header-inner,
  .site-header:not(.dynamic-header),
  .site-footer .footer-inner,
  .site-footer:not(.dynamic-footer),
  body:not([class*="elementor-page-"]) .site-main {
    max-width: 500px;
  }
  .site-header.header-full-width .header-inner {
    max-width: 100%;
  }
  .site-footer.footer-full-width .footer-inner {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .site-header .header-inner,
  .site-header:not(.dynamic-header),
  .site-footer .footer-inner,
  .site-footer:not(.dynamic-footer),
  body:not([class*="elementor-page-"]) .site-main {
    max-width: 600px;
  }
  .site-header.header-full-width {
    max-width: 100%;
  }
  .site-footer.footer-full-width {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .site-header .header-inner,
  .site-header:not(.dynamic-header),
  .site-footer .footer-inner,
  .site-footer:not(.dynamic-footer),
  body:not([class*="elementor-page-"]) .site-main {
    max-width: 800px;
  }
  .site-header.header-full-width {
    max-width: 100%;
  }
  .site-footer.footer-full-width {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .site-header .header-inner,
  .site-header:not(.dynamic-header),
  .site-footer .footer-inner,
  .site-footer:not(.dynamic-footer),
   body:not([class*="elementor-page-"]) .site-main {
    max-width: 960px;
  }
  /* Override the default width for the dynamic header and footer */
  .site-header .header-inner, .site-footer .footer-inner {
    max-width: 1140px;
  }
  .site-header.header-full-width {
    max-width: 100%;
  }
  .site-footer.footer-full-width {
    max-width: 100%;
  }
}

.site-header + .elementor {
  min-height: calc( 100vh - 320px);
}
