.elementor-section{
  &.gc-hero-section,
  &.gc-trailer-section,
  &.gc-video-section,
  &.gc-features-section,
  &.gc-afarm-section,
  &.gc-members,
  &.gc-partners-section{
    .elementor-container{
      @media(min-width: 1200px) and (max-width: 1600px - 0.02){
        max-width: 1230px !important;
      }
    }
  }

}

.gc-hero-section {
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h1.elementor-heading-title{
          font-size: 100px;
        }
        h3.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
  }
}

.gc-reviews-section {
  .elementor-widget-eg-reviews-carousel{
    .elementor-widget-container{
      .eg-swiper-button{
        background: linear-gradient(180deg, #05666C 0%, #02CFD2 100%);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 10px 20px rgba(2, 207, 210, 0.2);
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .elementor-widget-eg-reviews-carousel{
      .elementor-widget-container{
        .eg-swiper-button-prev{
          left: 0;
        }
        .eg-swiper-button-next{
          right: 0;
        }
      }
    }
  }
}

.gc-trailer-section {
  .gc-btn-play {
    .elementor-button-text {
      flex-grow: unset;
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
        div.elementor-heading-title{
          font-size: 30px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
}

.gc-video-section {

}

.gc-features-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
        div.elementor-heading-title{
          font-size: 30px;
        }
      }
    }
    .gc-features-new{
      .elementor-widget-heading{
        .elementor-widget-container{
          h2.elementor-heading-title{
            font-size: 28px;
          }
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
  .gc-image-forest{
    height: 100%;
    @media(min-width: 1025px) and (max-width: 1600px - 0.02){
      .elementor-widget-container{
        height: 100%;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  @media(max-width: 360px){
    .gc-trading-purchase-img{
      display: none;
    }
  }
}

.gc-afarm-section,
.gc-build-decorate-section,
.gc-combination-section,
.gc-gene-mutations-section {
  @media(min-width: 1025px) and (max-width: 1600px - 0.02){
    .gc-farm,
    .gc-build-farm,
    .gc-combination,
    .gc-gene-mutations{
      width: 86% !important;
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        margin-bottom: 25px;
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
  @media(max-width: 550px){
    .gc-farm,
    .gc-build-farm,
    .gc-combination,
    .gc-gene-mutations{
      .elementor-widget.elementor-widget-text-editor{
        .elementor-widget-container{
          padding: 25px 20px;
          background-size: auto;
        }
      }
    }
  }
  h2.elementor-heading-title {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .elementor-widget-text-editor .elementor-widget-container {
    margin-top: -20px;
  }
}

.gc-build-decorate-section {
  .elementor-widget-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

.gc-road-map-section {
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 64px;
        }
        div.elementor-heading-title{
          padding-top: 8px;
          font-size: 30px;
        }
      }
    }
  }
  @media(max-width: 1024px){
    .gc-roadmap-img{
      .elementor-widget-container{
        overflow-x: scroll;
        white-space: nowrap;
        img{
          min-width: 1024px;
        }
      }
    }
  }

  .elementor-widget-hotspot {
    .e-hotspot {
      &__icon {

      }
    }
  }
}

.gc-team-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 64px;
        }
      }
    }
    .gc-members{
      .elementor-column{
        .elementor-widget-heading{
          h3.elementor-heading-title{
            font-size: 30px;
          }
        }
      }
    }
  }
}

.gc-partners-section{
  .gc-partners{
    .eg-list-partners{
      .eg-thumbnail{
        min-height: 133px;
      }
    }
    .eg-show-more{
      a{
        background: linear-gradient(180deg, #FFE41B 0%, #FFB411 100%);
        box-shadow: 0px 10px 20px rgba(255, 228, 27, 0.3);
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 64px;
        }
      }
    }
  }
  @media(max-width: 1024px){
    .gc-partners{
      .eg-list-partners{
        .eg-thumbnail{
          min-height: 170px;
        }
      }
    }
  }
  @media(max-width: 782px){
    .gc-partners{
      .eg-list-partners{
        .eg-thumbnail{
          min-height: 130px;
        }
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .gc-partners{
      .eg-list-partners{
        .eg-thumbnail{
          min-height: 80px;
        }
      }
    }
  }
}

header{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02) {
    &.elementor-location-header{
      .gc-header-section.elementor-top-section{
        padding-left: 25px;
        padding-right: 25px;
        .elementor-nav-menu--main ul.elementor-nav-menu > li a{
          padding: 25px 15px;
          font-size: 16px;
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px) {
    &.elementor-location-header{
      .gc-header-section.elementor-top-section{
        padding-left: 24px;
        padding-right: 24px;
        .elementor-nav-menu--main ul.elementor-nav-menu > li a{
          padding: 25px 12px;
          font-size: 15px;
        }
      }
    }
  }
}

.gc-header-section {
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-container{
      max-width: 1230px !important;
    }
  }
  .elementor-nav-menu > li.menu-item {
    &.current-menu-item > a:before {
      opacity: 1;
    }
    > a.elementor-item {
      position: relative;
      &.elementor-item-active:before {
        opacity: 1;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #3A8914;
        z-index: -1;
        opacity: 0;
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .elementor-container.elementor-column-gap-no{
      max-width: 570px;
    }
  }
}

.gc-footer-section {
  padding: 50px 0;
  .elementor-widget .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    top: unset;
    -webkit-transform: unset;
    transform: unset;
  }
  .gc-form{
    .elementor-form{
      .elementor-form-fields-wrapper{
        .elementor-field-type-submit{
          .elementor-button{
            .elementor-button-icon{
              display: none;
            }
          }
        }
      }
    }
  }
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-container{
      max-width: 1230px !important;
    }
  }
  @media(min-width: 1025px) and (max-width: 1600px - 0.02){
    .elementor-container{
      .elementor-column{
        .elementor-widget-form{
          .elementor-form{
            .elementor-field{
              font-size: 22px;
              line-height: 46px;
            }
            .elementor-field-type-submit{
              .elementor-button{
                font-size: 22px;
                line-height: 22px;
              }
            }
          }
        }
        .gc-footer-policy{
          .elementor-icon-list-items{
            .elementor-icon-list-item{
              a{
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        div.elementor-heading-title{
          font-size: 16px;
        }
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .elementor-container{
      .elementor-column{
        .elementor-widget-form{
          .elementor-form{
            .elementor-field{
              min-height: 56px;
            }
            .elementor-field-type-submit{
              .elementor-button{
                min-height: 56px;
              }
            }
          }
        }
      }
    }
  }
  @media(max-width: 480px){
    .gc-form{
      .elementor-form{
        .elementor-form-fields-wrapper{
          .elementor-field-type-submit{
            .elementor-button{
              .elementor-button-icon{
                display: block;
              }
              .elementor-button-text{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
