.elementor-section{
  &.gn-hero-section,
  &.gn-technology-section,
  &.gn-development-section,
  &.gn-tools-section,
  &.gn-enterprise-section,
  &.gn-partners-section,
  &.gn-blog-section{
    .elementor-container{
      @media(min-width: 1200px) and (max-width: 1600px - 0.02){
        max-width: 1230px !important;
      }
    }
  }

}

.elementor_library-template-default {
  .gn-header-section {
    background-color: #171616;
  }
}
.page-template-elementor_header_footer {
  .elementor-section-wrap {
    position: static;
  }
}

.gn-menu-mobile{
  .elementor-widget-nav-menu{
    .elementor-nav-menu--main{
      ul{
        li{
          a{
            &.elementor-item-active{
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .elementor-widget-eg-language-switcher{
    .eg-select-layout{
      .eg-select-box{
        .eg-select-list{
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.elementor-location-header{
  .gn-header-section{
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    &.elementor-sticky--effects {
      background-color: #171616;
      -webkit-box-shadow: 0 0 1px rgba(#FFFFFF, 0.25);
      box-shadow: 0 0 1px rgba(#FFFFFF, 0.25);
    }
    @media(min-width: 1025px) and (max-width: 1600px - 0.02 ){
      .elementor-container{
        .elementor-column{
          &:last-child{
            .elementor-widget-wrap{
              padding-left: 0;
            }
          }
        }
        max-width: 1230px !important;
        .elementor-widget-nav-menu{
          .elementor-nav-menu--main{
            .elementor-nav-menu{
              li a{
                font-size: 16px;
                padding: 13px 12px;
              }
            }
          }
        }
        .elementor-widget-button{
          .elementor-widget-container{
            margin-left: 15px;
            .elementor-button-wrapper{
              .elementor-button{
                font-size: 16px;
                min-width: 110px;
              }
            }
          }
        }
      }
    }
  }
}

.gn-footer-section{
  @media(min-width: 1025px) and (max-width: 1600px - 0.02){
    .elementor-container.elementor-column-gap-no{
      max-width: 1230px !important;
    }
  }
  @media(max-width: 768px - 0.02){
    .gn-social{
      .elementor-widget-container{
        .elementor-icon-list-items{
          .elementor-icon-list-item{
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

.gn-white-line{
  display: flex;
  align-items: center;
  &::before{
    content: '';
    display: inline-block;
    height: 1px;
    width: 30px;
    margin-right: 10px;
    background-color: #FFFFFF;
  }
}
.gn-red-line{
  display: flex;
  align-items: center;
  &::before{
    content: '';
    display: inline-block;
    height: 1px;
    width: 30px;
    margin-right: 10px;
    background-color: #ED3F30;
  }
}
.gn-hero-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02 ){
    .elementor-widget-heading{
      .elementor-widget-container{
        h1.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
}
.gn-services-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-container{
      max-width: 1200px !important;
    }
  }
  @media(min-width: 1025px) and (max-width: 1600px - 0.02 ){
    .gn-services-left{
      width: 44% !important;
    }
    .gn-services-right{
      width: 56% !important;
    }
    .gn-services-image{
      height: 100%;
      .elementor-widget-container{
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .gn-services{
      .elementor-container{
        flex-wrap: wrap;
        .elementor-column{
          width: 100%;
          .elementor-widget-container{
            padding: 16px;
            .elementor-icon-box-icon{
              .elementor-icon{
                padding: 16px;
                font-size: 18px;
              }
            }
            .elementor-icon-box-content{
              .elementor-icon-box-title{
                font-size: 22px;
              }
            }
          }
        }
      }
    }
  }
}
.gn-technology-section{
  @media(min-width: 1025px) and (max-width: 1600px - 0.02 ){
    .gn-technology-right{
      .elementor-widget-wrap{
        .elementor-widget-image{
          .elementor-widget-container{
            margin-right: -15px;
          }
        }
        .elementor-widget-icon.gn-technology-btn-video{
          left: 37%;
          bottom: 35%;
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02 ){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
    .elementor-widget-eg-step-list{
      .eg-step-list{
        .eg-step-box{
          .eg-step-content{
            .eg-step-title{
              font-size: 22px;
            }
            .eg-step-des{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.gn-development-section{
  @media(min-width: 1025px) and (max-width: 1600px - 0.02 ){
    .gn-development-right{
      .elementor-widget-wrap{
        .gn-development-img.elementor-widget-image{
          .elementor-widget-container{
            margin-right: -15px;
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02 ){
    .gn-development-evm{
      padding-left: 180px !important;
    }
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
}

.gn-tools-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02 ){
    padding-top: 100px !important;
    .elementor-column{
      .elementor-widget-heading{
        .elementor-widget-container{
          h3.elementor-heading-title{
            font-size: 25px;
          }
        }
      }
      .elementor-widget-text-editor{
        .elementor-widget-container{
          font-size: 16px;
        }
      }
    }
  }
}

.gn-enterprise-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02 ){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-eg-step-list{
      .eg-step-list{
        .eg-step-box{
          .eg-step-content{
            .eg-step-title{
              font-size: 22px;
            }
            .eg-step-des{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.gn-ecosystem-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02 ){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
}

.gn-network-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02 ){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
}
.gn-partners-section{
  .gn-partners{
    .eg-partners{
      .eg-list-partners{
        .eg-thumbnail{
          min-height: 86px;
        }
      }
    }
    .eg-swiper-pagination{
      .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){
        border: 2px solid #FFFFFF70;
        background-color: transparent !important;
      }
    }
  }
}
.gn-blog-section{
  .gn-blog{
    .eg-posts{
      .eg-list-posts{
        .eg-post{
          .eg-post__content{
            .eg-post__read-more{
              display: flex;
              align-items: center;
              &::before{
                content: '';
                display: inline-block;
                height: 1px;
                width: 30px;
                margin-right: 10px;
                background-color: #ED3F30;
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02 ){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .gn-blog{
      .eg-posts{
        .eg-list-posts{
          .eg-post{
            .eg-post__content{
              .eg-post__title{
                font-size: 24px;
                line-height: 36px;
              }
              .eg-post__excerpt{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.gn-member-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02 ){
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
}

.gn-newsletter-section{
  .gn-newsletter-form{
    .elementor-form{
      .elementor-form-fields-wrapper{
        .elementor-field-type-submit{
          .elementor-button{
            .elementor-button-icon{
              display: none;
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02 ){
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
  @media(max-width: 480px){
    .gn-newsletter-form{
      .elementor-form{
        .elementor-form-fields-wrapper{
          .elementor-field-type-submit{
            .elementor-button{
              .elementor-button-icon{
                display: block;
              }
              .elementor-button-text{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
