.gd-menu-mobile{
  .elementor-location-popup{
    .elementor-widget-nav-menu{
      .elementor-nav-menu--main{
        ul{
          li{
            a{
              border-top: 1px solid #389D6220;
            }
          }
        }
      }
    }
  }
}

.gd-header-section {
  &.elementor-sticky--effects {
    -webkit-box-shadow: 0 0 1px rgba(#000000, 0.25);
    box-shadow: 0 0 1px rgba(#000000, 0.25);
  }
  .elementor-container{
    @media(min-width: 1200px) and (max-width: 1600px - 0.02){
      max-width: 1230px !important;
    }
  }
}

.gd-footer-section{
  .gd-social-networks{
    margin: 0 15px;
  }
  .elementor-container.elementor-column-gap-no{
    @media(min-width: 1200px) and (max-width: 1600px - 0.02){
      max-width: 1230px !important;
    }
  }
  @media(max-width: 1024px){
    .gd-social{
      .elementor-icon-list-items{
        .elementor-icon-list-item{
          margin-top: 8px;
        }
      }
    }
  }
}

.elementor-section{
  &.gd-hero-section,
  &.gd-solution-section,
  &.gd-developers-section,
  &.gd-documentation-section,
  &.gd-about-section,
  &.gd-partners-section,
  &.gd-platform-section,
  &.gd-funfact-section,
  &.gd-blog-section,
  &.gd-newsletter-section{
    .elementor-container{
      @media(min-width: 1200px) and (max-width: 1600px - 0.02){
        max-width: 1230px !important;
      }
    }
  }
}

.gd-hero-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-animated-headline{
      .elementor-widget-container{
        h1.elementor-headline{
          font-size: 64px;
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    padding-bottom: 480px !important;
    .elementor-widget-animated-headline{
      max-width: 1000px !important;
      .elementor-widget-container{
        h1.elementor-headline{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-heading{
      .elementor-widget-container{
        div.elementor-heading-title{
          font-size: 24px;
        }
      }
    }
    .elementor-widget-text-editor{
      max-width: 880px !important;
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
}

.gd-solution-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-animated-headline{
      .elementor-widget-container{
        h2.elementor-headline{
          font-size: 64px;
        }
      }
    }
    .gd-solution-gem{
      .elementor-container{
        .elementor-widget-wrap{
          padding: 28px 20px !important;
          .elementor-widget-heading{
            .elementor-widget-container{
              .elementor-heading-title{
                font-size: 25px;
              }
            }
          }
          .elementor-widget-image{
            .elementor-widget-container{
              margin: 0 10px;
              img{
                max-width: 40px;
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-animated-headline{
      .elementor-widget-container{
        h2.elementor-headline{
          font-size: 50px;
        }
      }
    }
    .gd-solution-gem{
      .elementor-container{
        flex-wrap: wrap;
        .elementor-column{
          width: 50%;
        }
      }
    }
  }
}

.gd-developers-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 64px;
        }
        div.elementor-heading-title{
          font-size: 24px;
        }
      }
    }
    .gd-documentation{
      .elementor-container{
        .elementor-widget-wrap{
          padding: 0 36px 40px !important;
          .elementor-widget-image{
            .elementor-widget-container{
              img{
                max-width: 160px;
              }
            }
          }
          .elementor-widget-heading{
            .elementor-widget-container{
              h3.elementor-heading-title{
                font-size: 27px;
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
        div.elementor-heading-title{
          font-size: 24px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
}

.gd-documentation-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .gd-documentation{
      .elementor-container{
        .elementor-widget-wrap{
          padding: 0 36px 40px !important;
          .elementor-widget-image{
            .elementor-widget-container{
              img{
                max-width: 150px;
              }
            }
          }
          .elementor-widget-heading{
            .elementor-widget-container{
              h3.elementor-heading-title{
                font-size: 27px;
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .gd-documentation{
      .elementor-container{
        .elementor-widget-wrap{
          padding: 0 30px 40px !important;
          .elementor-widget-image{
            .elementor-widget-container{
              margin-top: -76px;
              img{
                max-width: 130px;
              }
            }
          }
          .elementor-widget-heading{
            .elementor-widget-container{
              h3.elementor-heading-title{
                font-size: 24px;
              }
            }
          }
          .elementor-widget-text-editor{
            .elementor-widget-container{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.gd-about-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-animated-headline{
      .elementor-widget-container{
        h2.elementor-headline{
          font-size: 64px;
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-animated-headline{
      .elementor-widget-container{
        h2.elementor-headline{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-heading{
      .elementor-widget-container{
        div.elementor-heading-title{
          font-size: 24px;
        }
      }
    }
    .elementor-widget-heading{
      .elementor-widget-container{
        div.elementor-heading-title{
          font-size: 24px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
}

.gd-partners-section{
  .gd-partners{
    .eg-partners{
      .eg-list-partners{
        .eg-thumbnail img{
          min-height: 100px;
          object-fit: cover;
        }
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .gd-partners{
      .eg-partners{
        .eg-list-partners{
          .eg-thumbnail img{
            min-height: 76px;
          }
        }
      }
    }
  }
}

.gd-platform-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-animated-headline{
      .elementor-widget-container{
        h2.elementor-headline{
          font-size: 64px;
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-animated-headline{
      .elementor-widget-container{
        h2.elementor-headline{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-heading{
      .elementor-widget-container{
        div.elementor-heading-title{
          font-size: 24px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }
}

.gd-funfact-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 32px;
        }
      }
    }
    .elementor-widget-counter{
      .elementor-widget-container{
        .elementor-counter{
          .elementor-counter-number-wrapper{
            font-size: 60px;
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 30px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
    .elementor-widget-counter{
      .elementor-widget-container{
        .elementor-counter{
          .elementor-counter-number-wrapper{
            font-size: 50px;
          }
          .elementor-counter-title{
            font-size: 22px;
          }
        }
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .elementor-widget-counter{
      margin-bottom: 20px !important;
    }
  }
}

.gd-team-section{
  .elementor-widget-eg-members-carousel{
    .elementor-widget-container{
      .eg-swiper-button{
        box-shadow: 0px -2px 0px #61DFB4,
                    0px 2px 0px #389D62;
        border-width: 0;
      }
    }
  }
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-container{
      max-width: 1360px !important;
    }
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 64px;
        }
      }
    }
    .elementor-widget-eg-members-carousel{
      .elementor-widget-container{
        padding: 0 80px !important;
        .eg-members{
          .eg-member{
            padding-left: 32px;
            padding-right: 32px;
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
        div.elementor-heading-title{
          font-size: 24px;
        }
      }
    }
    .elementor-widget-eg-members-carousel{
      .elementor-widget-container{
        padding: 0 50px !important;
        .eg-members{
          .eg-member{
            padding-left: 25px;
            padding-right: 25px;
            .eg-member__content{
              .eg-member__title{
                font-size: 22px;
              }
              .eg-member__job{
                font-size: 16px;
              }
              .eg-member__socials{
                a{
                  margin: 4px;
                  padding: 10px;
                }
              }
            }
          }
        }
        .eg-swiper-button.eg-swiper-button-prev{
          left: 0px;
          font-size: 14px;
          padding: 14px;
        }
        .eg-swiper-button.eg-swiper-button-next{
          right: 0px;
          font-size: 14px;
          padding: 14px;
        }
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .elementor-widget-eg-members-carousel{
      .elementor-widget-container{
        .eg-swiper-button-prev{
          left: 5px !important;
        }
        .eg-swiper-button-next{
          right: 5px !important;
        }
      }
    }
  }
}

.gd-blog-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    padding: 50px !important;
    max-width: 1200px;
    margin: 0 auto;
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 64px;
        }
      }
    }
    .elementor-widget-eg-posts{
      .eg-posts{
        .eg-list-posts{
          .eg-post{
            min-height: 230px;
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    padding: 40px !important;
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
        div.elementor-heading-title{
          font-size: 24px;
        }
      }
    }
    .elementor-widget-eg-posts{
      .eg-posts{
        .eg-list-posts{
          .eg-post{
            min-height: 210px;
          }
        }
      }
    }
  }
}

.gd-faq-section{
  .gd-faqs{
    .elementor-widget-container{
      .elementor-accordion{
        .elementor-accordion-item{
          border: 1px solid rgba(56, 157, 98, 0.5);
          border-radius: 10px;
          margin-bottom: 20px;
          .elementor-active{
            .elementor-accordion-title{
              font-weight: bold;
              span{
                color: #FFFFFF;
                background: #389D62;
                box-shadow: 0px 10px 20px rgba(56, 157, 98, 0.3);
              }
            }
          }
          .elementor-accordion-title span{
            text-align: center;
            min-width: 30px;
            height: max-content;
            font-weight: 400;
            font-size: 14px;
            color: #389D62;
            line-height: 1.5em;
            border: 1px solid #389D62;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 6px;
            margin-right: 15px;
            @media(max-width: 768px - 0.02){
              margin-right: 10px;
              padding: 5px;
            }
          }
          .elementor-tab-content{
            border-top: 0;
          }
        }
      }
    }
  }
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 64px;
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
        div.elementor-heading-title{
          font-size: 24px;
        }
      }
    }
  }
}
.gd-newsletter-section{
  .gd-newsletter-form{
    .elementor-form{
      .elementor-form-fields-wrapper{
        .elementor-field-type-submit{
          .elementor-button{
            .elementor-button-icon{
              display: none;
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 32px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 22px;
      }
    }
  }
  @media(max-width: 480px){
    .gd-newsletter-form{
      .elementor-form{
        .elementor-form-fields-wrapper{
          .elementor-field-type-email{
            .elementor-field-textual{
              min-height: 54px;
            }
          }
          .elementor-field-type-submit{
            .elementor-button{
              min-height: 54px;
              .elementor-button-icon{
                display: block;
              }
              .elementor-button-text{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
