.mc-hero-section {
  @media(min-width: 1200px) and (max-width: 1600px - 0.02) {
    >.elementor-container {
      max-width: 1230px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h1.elementor-heading-title {
        max-width: 760px;
        font-size: 58px;
      }
      &.elementor-widget-heading div.elementor-heading-title {
        font-size: 22px;
      }
    }
  }

  @media(min-width: 1025px) and (max-width: 1200px - 0.02) {
    >.elementor-container {
      max-width: 1020px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h1.elementor-heading-title {
        max-width: 660px;
        font-size: 48px;
      }
      &.elementor-widget-heading div.elementor-heading-title {
        font-size: 20px;
      }
      &.elementor-widget-button .elementor-button {
        font-size: 16px !important;
      }
    }
  }

  @media(max-width: 768px - 0.02) {
    .elementor-element {
      &.elementor-widget-icon-box {
        .elementor-icon-box-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          .elementor-icon-box-icon {
            margin: 0 15px 0 0 !important;
          }
          .elementor-icon-box-content {
            flex-grow: unset;
            text-align: left;
          }
        }
      }
      &.elementor-widget-icon-list {
        margin: 0 auto;
      }
    }
  }
}

.mc-what-coin-section {
  @media(min-width: 1200px) and (max-width: 1600px - 0.02) {
    >.elementor-container {
      max-width: 1230px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h2.elementor-heading-title {
        font-size: 58px;
      }
      &.elementor-widget-heading div.elementor-heading-title {
        font-size: 22px;
      }
      &.elementor-widget-blockquote {
        .elementor-blockquote {
          padding-left: 30px !important;
          .elementor-blockquote__content {
            font-size: 28px;
          }
        }
      }
    }
  }

  @media(min-width: 1025px) and (max-width: 1200px - 0.02) {
    >.elementor-container {
      max-width: 1020px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h2.elementor-heading-title {
        font-size: 48px;
      }
      &.elementor-widget-heading h3.elementor-heading-title {
        font-size: 24px;
      }
      &.elementor-widget-heading div.elementor-heading-title {
        font-size: 20px;
      }
      &.elementor-widget-text-editor {
        font-size: 16px !important;
      }
      &.elementor-widget-blockquote {
        .elementor-blockquote {
          padding-left: 30px !important;
          .elementor-blockquote__content {
            font-size: 28px;
          }
        }
      }
      &.elementor-widget-icon-list .elementor-icon-list-item {
        > .elementor-icon-list-text,
        > a {
          font-size: 20px !important;
        }
      }
    }
  }
}

.mc-video-section {
  .elementor-element {
    &.elementor-widget-text-editor.mc-coin-list ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        a {
          display: inline-block;
          font-weight: 500;
          font-size: 75%;
          color: #F96328;
          margin-left: 8px;
          padding: 1px 20px;
          border: 1px solid #F96328;
          border-radius: 25px;
          -webkit-transition: all .3s;
          transition: all .3s;
          &:hover {
            color: #FFFFFF;
            background: #F96328;
          }
        }
      }
    }
  }

  @media(min-width: 1200px) and (max-width: 1600px - 0.02) {
    >.elementor-container {
      max-width: 1230px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h2.elementor-heading-title {
        font-size: 58px;
      }
      &.elementor-widget-heading div.elementor-heading-title {
        font-size: 22px;
      }
      &.elementor-widget-text-editor {
        &.mc-coin-list {
          font-size: 20px !important;
        }
      }
    }
  }

  @media(min-width: 1025px) and (max-width: 1200px - 0.02) {
    >.elementor-container {
      max-width: 1020px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h2.elementor-heading-title {
        font-size: 48px;
      }
      &.elementor-widget-heading div.elementor-heading-title {
        font-size: 20px;
      }
      &.elementor-widget-text-editor{
        font-size: 16px !important;
        &.mc-coin-list {
          font-size: 18px !important;
        }
      }
    }
  }
}

.mc-service-section {
  @media(min-width: 1200px) and (max-width: 1600px - 0.02) {
    >.elementor-container {
      max-width: 1230px !important;
    }
  }

  @media(min-width: 1025px) and (max-width: 1200px - 0.02) {
    >.elementor-container {
      max-width: 1020px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h4.elementor-heading-title {
        font-size: 22px;
      }
      &.elementor-widget-text-editor {
        font-size: 16px !important;
      }
      &.elementor-widget-button .elementor-button {
        font-size: 16px !important;
      }
    }
  }
}

.mc-roadmap-section {
  @media(min-width: 1200px) and (max-width: 1600px - 0.02) {
    >.elementor-container {
      max-width: 1230px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h2.elementor-heading-title {
        font-size: 58px;
      }
      &.elementor-widget-heading div.elementor-heading-title {
        font-size: 22px;
      }
    }
  }

  @media(min-width: 1025px) and (max-width: 1200px - 0.02) {
    >.elementor-container {
      max-width: 1020px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h2.elementor-heading-title {
        font-size: 48px;
      }
      &.elementor-widget-heading div.elementor-heading-title {
        font-size: 20px;
      }
      &.elementor-widget-text-editor {
        font-size: 16px !important;
      }
    }
  }
}

.mc-comunity-section {
  @media(min-width: 1200px) and (max-width: 1600px - 0.02) {
    .elementor-element {
      &.elementor-widget-heading h2.elementor-heading-title {
        max-width: 820px;
        font-size: 58px;
      }
      &.elementor-widget-heading div.elementor-heading-title {
        font-size: 22px;
      }
    }
  }

  @media(min-width: 1025px) and (max-width: 1200px - 0.02) {
    .elementor-element {
      &.elementor-widget-heading h2.elementor-heading-title {
        max-width: 680px;
        font-size: 48px;
      }
      &.elementor-widget-heading div.elementor-heading-title {
        font-size: 20px;
      }
      &.elementor-widget-text-editor {
        font-size: 16px !important;
      }
    }
  }
}

.mc-join-section {
  @media(min-width: 1200px) and (max-width: 1600px - 0.02) {
    >.elementor-container {
      max-width: 1230px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h2.elementor-heading-title {
        font-size: 58px;
      }
    }
  }

  @media(min-width: 1025px) and (max-width: 1200px - 0.02) {
    >.elementor-container {
      max-width: 1020px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h2.elementor-heading-title {
        font-size: 48px;
      }
      &.elementor-widget-text-editor {
        font-size: 16px !important;
      }
      .elementor-widget-form .elementor-field-group .elementor-field,
      .elementor-widget-form .elementor-button {
        font-size: 16px !important;
      }
    }
  }
  @media(max-width: 480px){
    .mc-contact-form{
      .elementor-form{
        .elementor-form-fields-wrapper{
          .elementor-field-type-submit{
            .elementor-button{
              min-height: 54px;
              .elementor-button-icon{
                margin: 0;
                font-size: 27px;
                line-height: 0;
              }
              .elementor-button-text{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.mc-header-section {
  @media(min-width: 1025px) {
    .elementor-nav-menu > li.current-menu-item {
      background-image: url('../images/mc-current-menu-item.svg');
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: auto 15px;
    }
  }

  @media(min-width: 1200px) and (max-width: 1600px - 0.02) {
    >.elementor-container {
      max-width: 1200px !important;
    }
    .mc-menu-col {
      .elementor-element.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .mc-button-col {
      .elementor-element.elementor-widget-button .elementor-button {
        font-size: 16px;
        min-width: 150px;
      }
    }
  }

  @media(min-width: 1025px) and (max-width: 1200px - 0.02) {
    .mc-menu-col {
      width: 83% !important;
      .elementor-nav-menu--layout-horizontal {
        justify-content: flex-end;
      }
    }
    .mc-button-col {
      display: none;
    }
  }
}

.mc-footer-section {
  @media(min-width: 1200px) and (max-width: 1600px - 0.02) {
    >.elementor-container {
      max-width: 1230px !important;
    }
  }

  @media(min-width: 1025px) and (max-width: 1200px - 0.02) {
    >.elementor-container {
      max-width: 1020px !important;
    }
    .elementor-element {
      &.elementor-widget-heading h4.elementor-heading-title {
        font-size: 22px;
      }
      &.elementor-widget-heading div.elementor-heading-title {
        font-size: 16px;
      }
    }
  }

}
