
.dg-hero-section{
  .elementor-widget-slides{
    .elementor-swiper{
      .elementor-slides-wrapper{
        .elementor-slides{
          .swiper-slide{
            .swiper-slide-inner{
              max-width: 1200px;
              padding-left: 15px;
              padding-right: 15px;
              .swiper-slide-contents{
                .elementor-slide-heading{
                  strong{
                    font-size: 96px;
                  }
                  span{
                    color: #FFFFFF;
                    font-size: 48px;
                  }
                }
              }
            }
          }
        }
        .swiper-pagination{
          bottom: 70px;
          text-align: right;
          padding-right: 70px;
          .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){
            background: #8C8C8C;
            opacity: 1;
          }
        }
      }
    }
  }
  @media(max-width: 1200px - 0.02){
    .elementor-widget-slides{
      .elementor-swiper{
        .elementor-slides-wrapper{
          .elementor-slides{
            .swiper-slide{
              .swiper-slide-inner{
                .swiper-slide-contents{
                  .elementor-slide-heading{
                    strong{
                      font-size:70px;
                    }
                    span{
                      font-size: 40px;
                    }
                  }
                }
              }
            }
          }
          .swiper-pagination{
            bottom: 40px;
            padding-right: 40px;
          }
        }
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .elementor-widget-slides{
      .elementor-swiper{
        .elementor-slides-wrapper{
          .elementor-slides{
            .swiper-slide{
              .swiper-slide-inner{
                max-width: 600px;
                .swiper-slide-contents{
                  .elementor-slide-heading{
                    strong{
                      font-size:44px;
                    }
                    span{
                      font-size: 32px;
                    }
                  }
                }
              }
            }
          }
          .swiper-pagination{
            bottom: 30px;
            padding-right: 15px;
          }
        }
      }
    }
  }
}

.dg-services-section{
  .elementor-widget-image-box{
    .elementor-widget-container{
      .elementor-image-box-wrapper{
        .elementor-image-box-content{
          .elementor-image-box-title{
            margin-top: 0;
          }
        }
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .elementor-widget-image-box{
      .elementor-widget-container{
        .elementor-image-box-wrapper{
          display: flex;
          text-align: left;
          .elementor-image-box-img{
            padding-right: 12px;
          }
        }
      }
    }
  }
}

.dg-video-section{
  @media(max-width: 768px - 0.02){
    .elementor-widget-icon-box{
      .elementor-widget-container{
        .elementor-icon-box-wrapper{
          display: flex;
          align-items: center;
          text-align: left;
          .elementor-icon-box-icon{
            padding-right: 15px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.dg-team-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-eg-members{
      .eg-members{
        .eg-member{
          .eg-member__content{
            .eg-member__title{
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .elementor-widget-eg-members{
      .eg-members{
        max-width: 600px;
        margin: 0 auto;
      }
    }
  }
}

.dg-blog-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-eg-posts{
      .eg-posts{
        .eg-post{
          .eg-post__thumbnail{
            .eg-post__date{
              .day{
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}
