
.qs-btn-cta{
  .elementor-widget-container{
    .elementor-button-wrapper{
      .elementor-button{
        position: relative;
        &::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background: #1F2334;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          z-index: 0;
        }
        span{
          z-index: 1;
        }
      }
    }
  }
}

.qs-header-section{

}
.qs-footer-section{
  .qs-copyright-text{
    .elementor-widget-container{
      span{
        color: #F7E406;
        font-weight: 400;
      }
    }
  }
  @media(min-width: 1025px){
    .qs-footer-main{
      .elementor-container{
        margin-right: 0;
      }
    }
  }
}


.qs-hero-section{
  .qs-hero-wrap{
    overflow: hidden;
  }
  .elementor-widget-heading{
    .elementor-widget-container{
      h1.elementor-heading-title{
        span{
          color: #F7E406;
          font-weight: 300;
        }
      }
    }
  }
  @media(min-width: 1025px){
    .qs-hero-wrap{
      .elementor-container{
        margin-right: 0;
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h1.elementor-heading-title{
          font-size: 50px;
        }
        p.elementor-heading-title{
          font-size: 16px;
        }
      }
    }
  }
}

.qs-hello-section{
  @media(min-width: 1025px){
    .elementor-container{
      margin-right: 0 !important;
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 70px;
        }
        div.elementor-heading-title{
          font-size: 40px;
        }
      }
    }
    .elementor-widget-counter{
      .elementor-widget-container{
        .elementor-counter{
          .elementor-counter-number-wrapper{
            font-size: 50px;
          }
          .elementor-counter-title{
            font-size: 16px;
          }
        }
      }
    }
  }
}

.qs-offer-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    padding: 100px 0 !important;
  }
}

.qs-projects-section{
  .elementor-widget-heading{
    .elementor-widget-container{
      h2.elementor-heading-title{
        span{
          color: #F7E406;
        }
      }
    }
  }
  .elementor-widget-eg-projects-carousel{
    .elementor-widget-container{
      .eg-swiper-button{
        &:not(.swiper-button-disabled){
          opacity: 0.9;
        }
        position: unset;
        margin-top: 50px;
        transform: translate(0,0);
      }
      .eg-swiper-button-next{
        margin-left: 16px;
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    padding: 100px 0 !important;
    .qs-brain-box{
      .elementor-widget-wrap{
        padding-right: 40px !important;
      }
    }
    .elementor-widget-heading{
      .elementor-widget-container{
        p.elementor-heading-title{
          font-size: 16px;
        }
      }
    }
    .elementor-widget-eg-projects-carousel{
      .elementor-widget-container{
        .eg-projects{
          .eg-project{
            .eg-project__content{
              .eg-project__title{
                font-size: 24px;
              }
            }
          }
        }
        .eg-swiper-button{
          margin-top: 40px;
          font-size: 22px;
        }
      }
    }
  }
  @media(max-width: 1024.98px){
    .elementor-widget-eg-projects-carousel{
      .elementor-widget-container{
        .eg-swiper-button{
          margin-top: 40px;
          font-size: 20px;
        }
      }
    }
  }
}

.qs-reviews-section{
  .elementor-widget-eg-testimonials{
    .elementor-widget-container{
      .eg-testimonials{
        .elementor-item{
          &:nth-child(1n){
            background-color: #0C0D13;
          }
          &:nth-child(2n){
            background-color: #1F2334;
            .eg-thumbnail-wrap{
              .eg-qoute-icon{
                background-color: #1F2334;
              }
            }
          }
        }
        .eg-testimonial{
          max-width: 1200px;
          margin: 0 auto;
        }
      }
    }
  }
}

.qs-trust-us-section{
  .elementor-widget-heading{
    .elementor-widget-container{
      h2.elementor-heading-title{
        span{
          color: #F7E406;
          font-weight: 400;
        }
      }
    }
  }
  .elementor-widget-text-editor{
    .elementor-widget-container{
      .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .gallery-item{
          margin: 0;
          width: 100%;
        }
        a{
          width: 100%;
          height: 100%;
        }
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    padding: 40px 0 50px !important;
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
  }


}
