.elementor-section{
  &.gc2-hero-section,
  &.gc2-crypto-section,
  &.gc2-tech-section,
  &.gc2-metaverse-section,
  &.gc2-app-section,
  &.gc2-investors-section,
  &.gc2-faqs-section{
    .elementor-container{
      @media(min-width: 1200px) and (max-width: 1600px - 0.02){
        max-width: 1230px !important;
      }
    }
  }

}

.gc2-app-btn{
  .elementor-button-wrapper{
    .elementor-button{
      text-align: left;
      background-color: transparent;
      background-image: url(../images/btn-app-bg.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      border-radius: 10px;
      .elementor-button-icon{
        font-size: 34px;
        display: flex;
      }
      .elementor-button-text span{
        font-size: 25px;
        line-height: 25px;
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1600px - 0.02){
    .elementor-button-wrapper{
      .elementor-button{
        .elementor-button-text span{
          font-size: 22px;
        }
      }
    }
  }
  @media(max-width: 1024px){
    .elementor-button-wrapper{
      .elementor-button{
        .elementor-button-text span{
          font-size: 20px;
        }
      }
    }
  }
}


.elementor_library-template-default {
  .gc2-header-section {
    background-color: #131628;
  }
}
.page-template-elementor_header_footer {
  .elementor-section-wrap {
    position: static;
  }
}

.gc2-menu-mobile{
  .elementor-widget-nav-menu{
    .elementor-nav-menu--main{
      ul{
        li{
          a{
            &.elementor-item-active{
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .elementor-widget-eg-language-switcher{
    .eg-select-layout{
      .eg-select-box{
        .eg-select-list{
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.gc2-header-section {
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-container{
      .elementor-column{
        &:last-child{
          .elementor-widget-wrap{
            padding-left: 0;
          }
        }
      }
      max-width: 1230px !important;
      .elementor-widget-nav-menu{
        .elementor-nav-menu--main{
          ul.elementor-nav-menu{
            li{
              a{
                font-size: 16px;
                padding: 13px 15px;
              }
            }
          }
        }
      }
      .elementor-element.elementor-widget-eg-language-switcher{
        .elementor-widget-container{
          padding: 10px 8px;
        }
      }
      .elementor-element.elementor-widget-button{
        .elementor-widget-container{
          margin-left: 10px;
          .elementor-button-wrapper{
            .elementor-button{
              font-size: 16px;
              padding: 15px 20px;
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px){
    .elementor-container{
      .elementor-column{
        .elementor-widget-wrap{
          padding: 10px;
        }
      }
      .elementor-widget-nav-menu{
        .elementor-nav-menu--main{
          ul.elementor-nav-menu{
            li{
              a{
                font-size: 15px;
                padding: 13px 10px;
              }
            }
          }
        }
      }
      .elementor-element.elementor-widget-eg-language-switcher{
        .elementor-widget-container{
          padding: 8px;
          .eg-select-layout .eg-select-box {
            .eg-select-active{
              font-size: 13px;
            }
            .eg-option img{
              width: 20px;
            }
          }
        }
      }
      .elementor-element.elementor-widget-button{
        .elementor-widget-container{
          margin-left: 10px;
          .elementor-button-wrapper{
            .elementor-button{
              font-size: 13px;
              padding: 12px 15px;
            }
          }
        }
      }
    }
  }
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  &.elementor-sticky--effects {
    background-color: #131628;
    -webkit-box-shadow: 0 0 1px rgba(#FFFFFF, 0.25);
    box-shadow: 0 0 1px rgba(#FFFFFF, 0.25);
  }
}

.gc2-footer-section{
  @media(min-width: 1025px) and (max-width: 1600px - 0.02){
    .elementor-container.elementor-column-gap-no{
      max-width: 1230px !important;
    }
    .gc2-list-logo{
      .eg-icon-list-items .eg-icon-list .eg-icon-item{
        .eg-icon-list-icon > svg{
          width: 84px;
        }
      }
    }
  }
}

.gc2-hero-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-container{
      .elementor-widget-heading{
        h1.elementor-heading-title{
          font-size: 70px;
        }
      }
      .elementor-widget-counter{
        .elementor-counter{
          .elementor-counter-number-wrapper{
            font-size: 32px;
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-container{
      .elementor-widget-heading{
        h1.elementor-heading-title{
          font-size: 50px;
        }
      }
      .elementor-widget-counter{
        .elementor-counter{
          .elementor-counter-number-wrapper{
            font-size: 28px;
          }
        }
      }
    }
  }
  .gc2-counter{
    backdrop-filter: blur(5px);
  }

}
.gc2-tech-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .gc2-tech-coin-image{
      right: 0 !important;
    }
  }
  .gc2-tech-3d{
    .elementor-widget-container{
      p{
        img{
          margin-bottom: 10px;
        }
      }
    }
    @media(min-width: 1025px) and (max-width: 1200px - 0.02){
      .elementor-widget-container{
        font-size: 16px;
        p{
          img{
            max-width: 150px;
          }
        }
      }
    }
    @media(min-width: 768px) and (max-width: 1024px){
      .elementor-widget-container{
        p{
          img{
            max-width: 200px;
          }
        }
      }
    }
    @media(max-width: 425px){
      .elementor-widget-container{
        p{
          img{
            width: 100%;
          }
        }
      }
    }
  }
}
.gc2-metaverse-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-container{
      .elementor-widget-heading{
        .elementor-widget-container{
          h2.elementor-heading-title{
            font-size: 50px;
          }
        }
      }
      .elementor-widget-icon-list{
        .elementor-widget-container{
          .elementor-icon-list-items{
            .elementor-icon-list-item{
              .elementor-icon-list-text{
                font-size: 16px;
              }
            }
          }
        }
      }
      .elementor-section.gc2-metaverse-pre-order{
        padding-top: 120px;
      }
    }
  }
}
.gc2-app-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-container{
      .elementor-widget-heading{
        .elementor-widget-container{
          h2.elementor-heading-title{
            font-size: 50px;
          }
        }
      }
      .elementor-widget-icon-box{
        .elementor-icon-box-wrapper{
          .elementor-icon-box-icon{
            .elementor-icon{
              font-size: 27px;
            }
          }
          .elementor-icon-box-content{
            .elementor-icon-box-title{
              font-size: 22px;
            }
            .elementor-icon-box-description{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .gc2-app-sevice{
      .elementor-widget-container{
        .elementor-icon-box-wrapper{
          display: flex;
          text-align: left;
          .elementor-icon-box-icon{
            margin-right: 15px !important;
          }
        }
      }
    }
  }
}
.gc2-crypto-section{
  @media(min-width: 1025px) and (max-width: 1600px - 0.02){
    .elementor-container{
      .elementor-column.gc2-crypto-left{
        width: 60%;
        .gc2-crypto-info{
          padding: 22px;
          .elementor-widget-wrap{
            padding: 8px;
          }
          .elementor-widget-heading{
            h4.elementor-heading-title{
              font-size: 21px;
            }
          }
          .elementor-widget-eg-button-copy{
            .eg-button-copy-wrap{
              .eg-text{
                font-size: 21px;
              }
            }
          }
        }
      }
      .elementor-column.gc2-crypto-right{
        width: 40%;
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-icon-box{
      .elementor-widget-container{
        .elementor-icon-box-wrapper{
          .elementor-icon-box-icon{
            .elementor-icon{
              font-size: 27px;
            }
          }
          .elementor-icon-box-content{
            .elementor-icon-box-title{
              font-size: 22px;
            }
            .elementor-icon-box-description{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .gc2-crypto-left{
      .gc2-crypto-sevice{
        .elementor-widget-container{
          .elementor-icon-box-wrapper{
            display: flex;
            text-align: left;
            .elementor-icon-box-icon{
              margin-right: 15px !important;
            }
          }
        }
      }
    }
  }
}
.gc2-roadmap-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
  }
  .gc2-roadmap-phase{
    .eg-phases{
      .eg-list-phases{
        .eg-phase-item{
          backdrop-filter: blur(10px);
        }
      }
    }
    @media(min-width: 1200px) and (max-width: 1600px - 0.02){
      .eg-phases{
        .eg-list-phases{
          .eg-phase-item{
            padding: 30px 25px;
            .eg-phase-heading{
              .eg-phase-title{
                font-size: 26px;
              }
            }
          }
        }
      }
    }
    @media(min-width: 1025px) and (max-width: 1200px - 0.02){
      .eg-phases{
        .eg-list-phases{
          .eg-phase-item{
            padding: 30px 20px;
            .eg-phase-heading{
              .eg-phase-step{
                font-size: 21px;
              }
              .eg-phase-title{
                font-size: 23px;
                line-height: 36px;
              }
            }
            .eg-phase-content{
              ul li{
                font-size: 16px;
                line-height: 25px;
              }
            }
          }
        }
      }
    }
    @media(max-width: 768px - 0.02){
      .elementor-widget-container{
        .eg-swiper-button-prev{
          left: 0;
        }
        .eg-swiper-button-next{
          right: 0;
        }
      }
    }
  }
}
.gc2-investors-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
  }
}
.gc2-members-section{
  .gc2-team-members{
    .eg-member {
      &__thumbnail {
        padding: 50px;
        background: linear-gradient(135deg, #905FCB 0%, #3671E9 100%);
        border-radius: 16px;
      }
    }
    .eg-swiper-button-prev{
      left: 0;
    }
    .eg-swiper-button-next{
      right: 0;
    }
  }

  @media(max-width: 1600px - 0.02){
    .gc2-team-members{
      .eg-member {
        &__thumbnail {
          padding: 25px;
        }
        &__title {
          font-size: 22px;
        }
      }
    }
  }
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-container{
      @media(min-width: 1200px) and (max-width: 1600px - 0.02){
        max-width: 1360px !important;
        .elementor-widget-eg-members-carousel{
          .elementor-widget-container{
            padding: 0 65px !important;
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
  }
  @media(max-width: 1024px - 0.02){
    .gc2-team-members{
      .eg-member {
        &__thumbnail {
          padding: 20px;
        }
      }
    }
  }
}
.gc2-faqs-section{
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
  }
  .gc2-answer-question{
    .elementor-widget-container .elementor-accordion{
      .elementor-accordion-item{
        box-shadow: inset 0px -0.15px 0 #fff;
        .elementor-active{
          .elementor-accordion-title{
            font-weight: bold;
            span{
              color: #FFFFFF;
              background: #3671E9;
              box-shadow: 0px 10px 20px rgba(54, 113, 233, 0.3);
            }
          }
        }
        .elementor-accordion-title{
          display: flex;
          font-weight: 400;
          span{
            text-align: center;
            min-width: 30px;
            height: max-content;
            font-weight: 400;
            font-size: 14px;
            color: #3671E9;
            line-height: 21px;
            border: 1px solid #3671E9;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 3px 5px;
            margin-right: 18px;
          }
          @media(max-width: 768px - 0.02){
            span{
              min-width: 28px;
              padding: 2px 4px;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}
.gc2-newsletter-section{
  .gc2-newsletter-form{
    .elementor-form{
      .elementor-form-fields-wrapper{
        .elementor-field-type-submit{
          .elementor-button{
            .elementor-button-icon{
              display: none;
            }
          }
        }
      }
    }
  }
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-container{
      max-width: 1230px !important;
    }
  }
  @media(max-width: 480px){
    .gc2-newsletter-form{
      .elementor-form{
        .elementor-form-fields-wrapper{
          .elementor-field-type-email{
            .elementor-field-textual{
              min-height: 54px;
            }
          }
          .elementor-field-type-submit{
            .elementor-button{
              min-height: 54px;
              .elementor-button-icon{
                display: block;
              }
              .elementor-button-text{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
