.elementor-section{
  &.nft-hero-section,
  &.nft-about-section,
  &.nft-users-section,
  &.nft-features-section,
  &.nft-roadmap-section,
  &.nft-team-section,
  &.nft-partners-section{
    .elementor-container{
      @media(min-width: 1200px) and (max-width: 1600px - 0.02){
        max-width: 1230px !important;
      }
    }
  }
}

.elementor_library-template-default {
  .nft-header-section {
    background-color: #130523;
  }
}
.page-template-elementor_header_footer {
  .elementor-section-wrap {
    position: static;
  }
}

.nft-menu-mobile{
  .elementor-widget-nav-menu{
    .elementor-nav-menu--main{
      ul{
        li{
          a{
            border-bottom: 1px solid #37274D;
            &.elementor-item-active{
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .elementor-widget-eg-language-switcher{
    .eg-select-layout{
      .eg-select-box{
        .eg-select-list{
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.nft-header-section {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  &.elementor-sticky--effects {
    background-color: #130523;
    -webkit-box-shadow: 0 0 1px rgba(#FFFFFF, 0.25);
    box-shadow: 0 0 1px rgba(#FFFFFF, 0.25);
  }
  @media(max-width: 1600px - 0.02){
    .elementor-container{
      .elementor-widget-eg-language-switcher{
        .elementor-widget-container{
          .eg-select-layout{
            .eg-select-list{
              left: -112px;
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1600px - 0.02){
    .elementor-container{
      max-width: 1230px !important;
      .elementor-widget-nav-menu{
        .elementor-widget-container{
          .elementor-nav-menu--main{
            .elementor-nav-menu{
              li > a{
                font-size: 16px;
                padding: 13px;
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-container{
      .elementor-column{
        &:nth-child(2){
          width: 64%;
          .elementor-widget-wrap{
            padding: 15px 0;
          }
        }
        &:nth-child(3){
          width: 16%;
        }
      }
      .elementor-widget-nav-menu{
        .elementor-widget-container{
          .elementor-nav-menu--main{
            .elementor-nav-menu{
              li > a{
                font-size: 15px;
                padding: 13px 12px;
              }
            }
          }
        }
      }
    }
  }
}

.nft-footer-section{
  .nft-subscribe-form{
    .elementor-form{
      .elementor-form-fields-wrapper{
        .elementor-field-type-submit{
          .elementor-button{
            margin-left: -15px;
            .elementor-button-icon{
              display: none;
            }
          }
        }
      }
    }
  }
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-container{
      max-width: 1230px !important;
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-container{
      .elementor-widget-text-editor{
        .elementor-widget-container{
          font-size: 16px;
        }
      }
      .elementor-widget-eg-icon-list{
        .elementor-widget-container{
          .eg-icon-list-items{
            .eg-icon-list{
              .eg-icon-item{
                .eg-icon-list-icon svg{
                  width: 80px;
                }
              }
            }
          }
        }
      }
      .elementor-widget-heading{
        .elementor-widget-container{
          h3.elementor-heading-title{
            font-size: 24px;
          }
          div.elementor-heading-title{
            font-size: 16px;
          }
        }
      }
    }
  }
  @media(max-width: 480px){
    .nft-subscribe-form{
      .elementor-form{
        .elementor-form-fields-wrapper{
          .elementor-field-type-submit{
            .elementor-button{
              .elementor-button-icon{
                display: block;
              }
              .elementor-button-text{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.nft-hero-section{
  @media(min-width: 768px){
    .nft-bid-box{
      .elementor-container{
        .nft-bid-popular{
          .eg-icon-box{
            justify-content: center;
            .eg-content{
              flex-grow: 0;
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1600px - 0.02){
    .nft-bid-box{
      .elementor-container{
        .elementor-widget-button{
          width: 100%;
          .elementor-widget-container{
            margin: 10px 0 0 0;
          }
        }
      }
    }
  }
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h1.elementor-heading-title{
          font-size: 56px;
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h1.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
    .elementor-widget-spacer{
      .elementor-widget-container{
        .elementor-spacer .elementor-spacer-inner{
          height: 60px;
        }
      }
    }
  }
}

.nft-users-section{
  .nft-users{
    .elementor-widget-container{
      .elementor-image-gallery{
        .gallery{
          .gallery-item{
            margin-left: -8px;
            &:first-child{
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    padding: 40px 0 !important;
    .elementor-widget-heading{
      .elementor-widget-container{
        .elementor-heading-title{
          font-size: 16px;
        }
      }
    }
    .elementor-widget-counter{
      .elementor-widget-container{
        .elementor-counter{
          .elementor-counter-number-wrapper{
            font-size: 40px;
          }
        }
      }
    }
  }
  @media(max-width: 768px - 0.02){
    .nft-users{
      .elementor-widget-container{
        .elementor-image-gallery{
          .gallery{
            display: flex;
          }
        }
      }
    }
  }
}

.nft-about-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 56px;
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
    .nft-connection{
      .elementor-widget-image-box{
        .elementor-image-box-wrapper{
          .elementor-image-box-description{
            font-size: 16px;
          }
        }
      }
    }
  }
}

.nft-market-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-container{
      max-width: 1200px !important;
    }
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 56px;
        }
      }
    }
    .nft-market-counter{
      .elementor-widget-wrap{
        padding: 0 !important;
        .elementor-widget-counter{
          .elementor-widget-container{
            .elementor-counter{
              .elementor-counter-number-wrapper{
                font-size: 48px;
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-container .elementor-column.nft-market-left{
      .elementor-widget-wrap{
        padding: 30px;
      }
    }
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
    .nft-market-counter{
      .elementor-widget-wrap{
        padding: 0 !important;
        .elementor-widget-counter{
          .elementor-widget-container{
            .elementor-counter{
              .elementor-counter-number-wrapper{
                font-size: 38px;
              }
              .elementor-counter-title{
                font-style: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.nft-features-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 56px;
        }
      }
    }
    .nft-services .elementor-container{
      .elementor-column{
        .elementor-widget-wrap{
          padding: 30px;
          .elementor-widget-heading{
            .elementor-widget-container{
              h3.elementor-heading-title{
                font-size: 32px;
              }
              div.elementor-heading-title{
                font-size: 22px;
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .nft-services .elementor-container{
      .elementor-column{
        .elementor-widget-wrap{
          padding: 30px;
          .elementor-widget-heading{
            .elementor-widget-container{
              h3.elementor-heading-title{
                font-size: 30px;
              }
              div.elementor-heading-title{
                font-size: 20px;
              }
            }
          }
          .elementor-widget-text-editor{
            .elementor-widget-container{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.nft-roadmap-section{
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 56px;
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
  }
  @media(max-width: 1024px){
    .nft-roadmap{
      .elementor-widget-container{
        overflow-x: scroll;
        white-space: nowrap;
        img{
          min-width: 996px;
        }
      }
    }
  }
}

.nft-team-section{
  .elementor-widget-eg-members-carousel{
    .eg-swiper-pagination{
      .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){
        border: 2px solid #FFFFFF30;
        background-color: transparent !important;
      }
    }
  }
  @media(min-width: 1200px) and (max-width: 1600px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 56px;
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    .elementor-widget-heading{
      .elementor-widget-container{
        h2.elementor-heading-title{
          font-size: 50px;
        }
      }
    }
    .elementor-widget-text-editor{
      .elementor-widget-container{
        font-size: 16px;
      }
    }
    .elementor-widget-eg-members-carousel{
      .eg-list-members{
        .swiper-slide{
          .eg-member{
            .eg-content{
              padding: 12px;
              .eg-name{
                font-size: 22px;
                line-height: 32px;
              }
              .eg-job{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.nft-partners-section{
  .nft-partners{
    .eg-partners{
      .eg-list-partners{
        .eg-partner-item{
          .eg-thumbnail{
            min-height: 100px;
          }
        }
      }
    }
  }
  @media(min-width: 1025px) and (max-width: 1200px - 0.02){
    padding-bottom: 550px !important;
  }
  @media(max-width: 375px){
    padding-bottom: 230px !important;

  }
}
