.gd-menu-mobile .elementor-location-popup .elementor-widget-nav-menu .elementor-nav-menu--main ul li a { border-top: 1px solid #389D6220; }

.gd-header-section.elementor-sticky--effects { -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25); box-shadow: 0 0 1px rgba(0, 0, 0, 0.25); }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-header-section .elementor-container { max-width: 1230px !important; } }

.gd-footer-section .gd-social-networks { margin: 0 15px; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-footer-section .elementor-container.elementor-column-gap-no { max-width: 1230px !important; } }
@media (max-width: 1024px) { .gd-footer-section .gd-social .elementor-icon-list-items .elementor-icon-list-item { margin-top: 8px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .elementor-section.gd-hero-section .elementor-container, .elementor-section.gd-solution-section .elementor-container, .elementor-section.gd-developers-section .elementor-container, .elementor-section.gd-documentation-section .elementor-container, .elementor-section.gd-about-section .elementor-container, .elementor-section.gd-partners-section .elementor-container, .elementor-section.gd-platform-section .elementor-container, .elementor-section.gd-funfact-section .elementor-container, .elementor-section.gd-blog-section .elementor-container, .elementor-section.gd-newsletter-section .elementor-container { max-width: 1230px !important; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-hero-section .elementor-widget-animated-headline .elementor-widget-container h1.elementor-headline { font-size: 64px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gd-hero-section { padding-bottom: 480px !important; }
  .gd-hero-section .elementor-widget-animated-headline { max-width: 1000px !important; }
  .gd-hero-section .elementor-widget-animated-headline .elementor-widget-container h1.elementor-headline { font-size: 50px; }
  .gd-hero-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 24px; }
  .gd-hero-section .elementor-widget-text-editor { max-width: 880px !important; }
  .gd-hero-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-solution-section .elementor-widget-animated-headline .elementor-widget-container h2.elementor-headline { font-size: 64px; }
  .gd-solution-section .gd-solution-gem .elementor-container .elementor-widget-wrap { padding: 28px 20px !important; }
  .gd-solution-section .gd-solution-gem .elementor-container .elementor-widget-wrap .elementor-widget-heading .elementor-widget-container .elementor-heading-title { font-size: 25px; }
  .gd-solution-section .gd-solution-gem .elementor-container .elementor-widget-wrap .elementor-widget-image .elementor-widget-container { margin: 0 10px; }
  .gd-solution-section .gd-solution-gem .elementor-container .elementor-widget-wrap .elementor-widget-image .elementor-widget-container img { max-width: 40px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gd-solution-section .elementor-widget-animated-headline .elementor-widget-container h2.elementor-headline { font-size: 50px; }
  .gd-solution-section .gd-solution-gem .elementor-container { flex-wrap: wrap; }
  .gd-solution-section .gd-solution-gem .elementor-container .elementor-column { width: 50%; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-developers-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; }
  .gd-developers-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 24px; }
  .gd-developers-section .gd-documentation .elementor-container .elementor-widget-wrap { padding: 0 36px 40px !important; }
  .gd-developers-section .gd-documentation .elementor-container .elementor-widget-wrap .elementor-widget-image .elementor-widget-container img { max-width: 160px; }
  .gd-developers-section .gd-documentation .elementor-container .elementor-widget-wrap .elementor-widget-heading .elementor-widget-container h3.elementor-heading-title { font-size: 27px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gd-developers-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gd-developers-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 24px; }
  .gd-developers-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-documentation-section .gd-documentation .elementor-container .elementor-widget-wrap { padding: 0 36px 40px !important; }
  .gd-documentation-section .gd-documentation .elementor-container .elementor-widget-wrap .elementor-widget-image .elementor-widget-container img { max-width: 150px; }
  .gd-documentation-section .gd-documentation .elementor-container .elementor-widget-wrap .elementor-widget-heading .elementor-widget-container h3.elementor-heading-title { font-size: 27px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gd-documentation-section .gd-documentation .elementor-container .elementor-widget-wrap { padding: 0 30px 40px !important; }
  .gd-documentation-section .gd-documentation .elementor-container .elementor-widget-wrap .elementor-widget-image .elementor-widget-container { margin-top: -76px; }
  .gd-documentation-section .gd-documentation .elementor-container .elementor-widget-wrap .elementor-widget-image .elementor-widget-container img { max-width: 130px; }
  .gd-documentation-section .gd-documentation .elementor-container .elementor-widget-wrap .elementor-widget-heading .elementor-widget-container h3.elementor-heading-title { font-size: 24px; }
  .gd-documentation-section .gd-documentation .elementor-container .elementor-widget-wrap .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-about-section .elementor-widget-animated-headline .elementor-widget-container h2.elementor-headline { font-size: 64px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gd-about-section .elementor-widget-animated-headline .elementor-widget-container h2.elementor-headline { font-size: 50px; }
  .gd-about-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 24px; }
  .gd-about-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 24px; }
  .gd-about-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

.gd-partners-section .gd-partners .eg-partners .eg-list-partners .eg-thumbnail img { min-height: 100px; object-fit: cover; }
@media (max-width: 767.98px) { .gd-partners-section .gd-partners .eg-partners .eg-list-partners .eg-thumbnail img { min-height: 76px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-platform-section .elementor-widget-animated-headline .elementor-widget-container h2.elementor-headline { font-size: 64px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gd-platform-section .elementor-widget-animated-headline .elementor-widget-container h2.elementor-headline { font-size: 50px; }
  .gd-platform-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 24px; }
  .gd-platform-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-funfact-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 32px; }
  .gd-funfact-section .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-number-wrapper { font-size: 60px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gd-funfact-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 30px; }
  .gd-funfact-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .gd-funfact-section .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-number-wrapper { font-size: 50px; }
  .gd-funfact-section .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-title { font-size: 22px; } }
@media (max-width: 767.98px) { .gd-funfact-section .elementor-widget-counter { margin-bottom: 20px !important; } }

.gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container .eg-swiper-button { box-shadow: 0px -2px 0px #61DFB4, 0px 2px 0px #389D62; border-width: 0; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-team-section .elementor-container { max-width: 1360px !important; }
  .gd-team-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; }
  .gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container { padding: 0 80px !important; }
  .gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container .eg-members .eg-member { padding-left: 32px; padding-right: 32px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gd-team-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gd-team-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 24px; }
  .gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container { padding: 0 50px !important; }
  .gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container .eg-members .eg-member { padding-left: 25px; padding-right: 25px; }
  .gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container .eg-members .eg-member .eg-member__content .eg-member__title { font-size: 22px; }
  .gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container .eg-members .eg-member .eg-member__content .eg-member__job { font-size: 16px; }
  .gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container .eg-members .eg-member .eg-member__content .eg-member__socials a { margin: 4px; padding: 10px; }
  .gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container .eg-swiper-button.eg-swiper-button-prev { left: 0px; font-size: 14px; padding: 14px; }
  .gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container .eg-swiper-button.eg-swiper-button-next { right: 0px; font-size: 14px; padding: 14px; } }
@media (max-width: 767.98px) { .gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container .eg-swiper-button-prev { left: 5px !important; }
  .gd-team-section .elementor-widget-eg-members-carousel .elementor-widget-container .eg-swiper-button-next { right: 5px !important; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-blog-section { padding: 50px !important; max-width: 1200px; margin: 0 auto; }
  .gd-blog-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; }
  .gd-blog-section .elementor-widget-eg-posts .eg-posts .eg-list-posts .eg-post { min-height: 230px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gd-blog-section { padding: 40px !important; }
  .gd-blog-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gd-blog-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 24px; }
  .gd-blog-section .elementor-widget-eg-posts .eg-posts .eg-list-posts .eg-post { min-height: 210px; } }

.gd-faq-section .gd-faqs .elementor-widget-container .elementor-accordion .elementor-accordion-item { border: 1px solid rgba(56, 157, 98, 0.5); border-radius: 10px; margin-bottom: 20px; }
.gd-faq-section .gd-faqs .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-active .elementor-accordion-title { font-weight: bold; }
.gd-faq-section .gd-faqs .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-active .elementor-accordion-title span { color: #FFFFFF; background: #389D62; box-shadow: 0px 10px 20px rgba(56, 157, 98, 0.3); }
.gd-faq-section .gd-faqs .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-accordion-title span { text-align: center; min-width: 30px; height: max-content; font-weight: 400; font-size: 14px; color: #389D62; line-height: 1.5em; border: 1px solid #389D62; box-sizing: border-box; border-radius: 8px; padding: 6px; margin-right: 15px; }
@media (max-width: 767.98px) { .gd-faq-section .gd-faqs .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-accordion-title span { margin-right: 10px; padding: 5px; } }
.gd-faq-section .gd-faqs .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-tab-content { border-top: 0; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gd-faq-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gd-faq-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gd-faq-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 24px; } }

.gd-newsletter-section .gd-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-icon { display: none; }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gd-newsletter-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 32px; }
  .gd-newsletter-section .elementor-widget-text-editor .elementor-widget-container { font-size: 22px; } }
@media (max-width: 480px) { .gd-newsletter-section .gd-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-email .elementor-field-textual { min-height: 54px; }
  .gd-newsletter-section .gd-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button { min-height: 54px; }
  .gd-newsletter-section .gd-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-icon { display: block; }
  .gd-newsletter-section .gd-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-text { display: none; } }

/*# sourceMappingURL=home-7.css.map */
