@media (min-width: 1200px) and (max-width: 1599.98px) { .elementor-section.gn2-hero-section .elementor-container, .elementor-section.gn2-services-section .elementor-container, .elementor-section.gn2-gemnetwork .elementor-container, .elementor-section.gn2-technology-section .elementor-container, .elementor-section.gn2-featured-section .elementor-container, .elementor-section.gn2-community-section .elementor-container, .elementor-section.gn2-involved-section .elementor-container, .elementor-section.gn2-team-heading .elementor-container, .elementor-section.gn2-team .elementor-container, .elementor-section.gn2-blog-section .elementor-container { max-width: 1230px !important; } }

.gn2-menu-mobile .gn2-menu-mobile-section { overflow: hidden; }
.gn2-menu-mobile .elementor-location-popup .elementor-widget-nav-menu .elementor-nav-menu--main ul li { position: relative; }
.gn2-menu-mobile .elementor-location-popup .elementor-widget-nav-menu .elementor-nav-menu--main ul li a:before { content: ''; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 24px; height: 1px; background-color: #E0E0E7; opacity: 1 !important; }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-header-section .elementor-container.elementor-column-gap-extended { max-width: 1230px !important; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-header-section .elementor-container .elementor-widget-nav-menu .elementor-nav-menu--main .elementor-nav-menu li > a { font-size: 16px; margin: 0 15px; } }
.gn2-header-section.elementor-sticky--effects { -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25); box-shadow: 0 0 1px rgba(0, 0, 0, 0.25); }

.gn2-hero-section h1.elementor-heading-title span { -webkit-text-fill-color: transparent; -webkit-text-stroke: 2px #FFFFFF; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-hero-section .elementor-widget-heading .elementor-widget-container h1.elementor-heading-title { font-size: 90px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-hero-section .elementor-widget-heading .elementor-widget-container h1.elementor-heading-title { font-size: 79px; }
  .gn2-hero-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 18px; } }

.gn2-marquee-section .eg-scrolling-list .js-marquee span, .gn2-introduction-section .eg-scrolling-list .js-marquee span { display: inline-block; margin: 0 20px; }
.gn2-marquee-section .eg-scrolling-list .js-marquee span:nth-child(2n), .gn2-introduction-section .eg-scrolling-list .js-marquee span:nth-child(2n) { -webkit-text-fill-color: transparent; -webkit-text-stroke: 1px #FFFFFF; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-marquee-section .eg-scrolling-list .eg-scroll-text, .gn2-introduction-section .eg-scrolling-list .eg-scroll-text { font-size: 50px !important; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-marquee-section .eg-scrolling-list .eg-scroll-text, .gn2-introduction-section .eg-scrolling-list .eg-scroll-text { font-size: 42px !important; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-services-section .elementor-container .elementor-widget-eg-icon-box .eg-icon-box .eg-content .eg-title { font-size: 25px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-services-section .elementor-container .elementor-widget-eg-icon-box .eg-icon-box .eg-content .eg-title { font-size: 22px; }
  .gn2-services-section .elementor-container .elementor-widget-eg-icon-box .eg-icon-box .eg-content .eg-desc { font-size: 16px; } }

.gn2-introduction-section .elementor-widget-eg-scrolling-list { -webkit-transform: rotate(2.55deg); transform: rotate(2.55deg); }
@media (max-width: 782px) { .gn2-introduction-section .elementor-widget-eg-scrolling-list { -webkit-transform: rotate(3.4deg); transform: rotate(3.4deg); } }
@media (max-width: 767.98px) { .gn2-introduction-section .elementor-widget-eg-scrolling-list { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-introduction-section .gn2-gemnetwork .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-introduction-section .gn2-gemnetwork .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn2-introduction-section .gn2-gemnetwork .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .gn2-introduction-section .gn2-gemnetwork .elementor-widget-icon-box .elementor-widget-container .elementor-icon-box-content .elementor-icon-box-description { font-size: 16px; } }
@media (max-width: 767.98px) { .gn2-introduction-section .gn2-gemnetwork .gn2-service .elementor-widget-container .elementor-icon-box-wrapper { display: flex; text-align: left; }
  .gn2-introduction-section .gn2-gemnetwork .gn2-service .elementor-widget-container .elementor-icon-box-wrapper .elementor-icon-box-icon { margin-right: 15px !important; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-technology-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; }
  .gn2-technology-section .elementor-widget-heading.gn2-technology-percent div.elementor-heading-title { font-size: 150px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-technology-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn2-technology-section .elementor-widget-heading .elementor-widget-container h3.elementor-heading-title { font-size: 30px; }
  .gn2-technology-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 30px; }
  .gn2-technology-section .elementor-widget-heading.gn2-technology-percent div.elementor-heading-title { font-size: 140px; }
  .gn2-technology-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }
@media (max-width: 767.98px) { .gn2-technology-section .gn2-technology-stake .elementor-widget-container .elementor-icon-box-wrapper { display: flex; text-align: left; }
  .gn2-technology-section .gn2-technology-stake .elementor-widget-container .elementor-icon-box-wrapper .elementor-icon-box-icon { margin-right: 15px !important; } }

.gn2-featured-section .elementor-widget-icon-box .elementor-icon-box-title span { display: inline-block; color: #FFFFFF; background: #7424C4; padding: 7px 18px; border-radius: 50px; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-featured-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; }
  .gn2-featured-section .elementor-widget-icon-box .elementor-widget-container .elementor-icon-box-content .elementor-icon-box-description { font-size: 22px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-featured-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn2-featured-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .gn2-featured-section .elementor-widget-icon-box .elementor-widget-container .elementor-icon-box-content .elementor-icon-box-description { font-size: 20px; } }

.gn2-community-section .eg-icon-box .eg-title:after { content: ""; width: 24px; height: 24px; background-image: url(../images/arrow-right-white.svg); display: inline-block; vertical-align: middle; margin-left: 4px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-community-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-community-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn2-community-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .gn2-community-section .elementor-widget-eg-icon-box .eg-icon-box .eg-content .eg-desc { font-size: 16px; } }

.gn2-involved-section h2.elementor-heading-title span { -webkit-text-fill-color: transparent; -webkit-text-stroke: 2px #7424C4; }
.gn2-involved-section .elementor-button-content-wrapper { align-items: center; }
.gn2-involved-section .elementor-button-content-wrapper .elementor-button-icon { line-height: 0; }
.gn2-involved-section .elementor-button-content-wrapper .elementor-button-icon svg { width: auto; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-involved-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 164px; }
  .gn2-involved-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 64px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-involved-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 150px; }
  .gn2-involved-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 50px; } }
@media (max-width: 550px) { .gn2-involved-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 70px; } }
@media (max-width: 425px) { .gn2-involved-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 52px; } }

.gn2-team-section .gn2-team .elementor-widget-eg-members-carousel .eg-swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) { border: 1px solid #BBB7C5; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-team-section .gn2-team-heading .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-team-section .gn2-team-heading .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn2-team-section .gn2-team-heading .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .gn2-team-section .gn2-team .elementor-widget-eg-members-carousel .eg-members .eg-list-members .eg-member .eg-content .eg-name { font-size: 22px; }
  .gn2-team-section .gn2-team .elementor-widget-eg-members-carousel .eg-members .eg-list-members .eg-member .eg-content .eg-job { font-size: 16px; } }
@media (max-width: 1024px) { .gn2-team-section .gn2-team .elementor-widget-eg-members-carousel .eg-members .eg-list-members .eg-member .eg-thumbnail a { width: 100%; }
  .gn2-team-section .gn2-team .elementor-widget-eg-members-carousel .eg-members .eg-list-members .eg-member .eg-thumbnail a img { width: 100%; } }

.gn2-blog-section .eg-post__read-more:after { content: ""; width: 24px; height: 24px; background-image: url(../images/arrow-right-pulple.svg); display: inline-block; vertical-align: middle; margin: -4px 0 0 14px; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-blog-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; }
  .gn2-blog-section .elementor-widget-eg-posts .eg-posts .eg-post .eg-post__content .eg-post__title { font-size: 24px; line-height: 1.3; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-blog-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn2-blog-section .elementor-widget-eg-posts .eg-posts .eg-post .eg-post__content .eg-post__title { font-size: 24px; line-height: 36px; }
  .gn2-blog-section .elementor-widget-eg-posts .eg-posts .eg-post .eg-post__content .eg-post__excerpt { font-size: 16px; } }

.gn2-footer-section .elementor-button-content-wrapper { align-items: center; }
.gn2-footer-section .elementor-button-content-wrapper .elementor-button-icon { line-height: 0; }
.gn2-footer-section .elementor-button-content-wrapper .elementor-button-icon svg { width: auto; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gn2-footer-section .elementor-container.elementor-column-gap-extended { max-width: 1230px !important; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn2-footer-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .gn2-footer-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 16px; }
  .gn2-footer-section .elementor-widget-heading.gn2-subscribe-text .elementor-widget-container div.elementor-heading-title { font-size: 25px; } }
