@media (min-width: 1200px) and (max-width: 1599.98px) { .elementor-section.gn-hero-section .elementor-container, .elementor-section.gn-technology-section .elementor-container, .elementor-section.gn-development-section .elementor-container, .elementor-section.gn-tools-section .elementor-container, .elementor-section.gn-enterprise-section .elementor-container, .elementor-section.gn-partners-section .elementor-container, .elementor-section.gn-blog-section .elementor-container { max-width: 1230px !important; } }

.elementor_library-template-default .gn-header-section { background-color: #171616; }

.page-template-elementor_header_footer .elementor-section-wrap { position: static; }

.gn-menu-mobile .elementor-widget-nav-menu .elementor-nav-menu--main ul li a.elementor-item-active { font-weight: bold; }
.gn-menu-mobile .elementor-widget-eg-language-switcher .eg-select-layout .eg-select-box .eg-select-list { left: 50%; transform: translateX(-50%); }

.elementor-location-header .gn-header-section { -webkit-transition: background-color .3s; transition: background-color .3s; }
.elementor-location-header .gn-header-section.elementor-sticky--effects { background-color: #171616; -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25); box-shadow: 0 0 1px rgba(255, 255, 255, 0.25); }
@media (min-width: 1025px) and (max-width: 1599.98px) { .elementor-location-header .gn-header-section .elementor-container { max-width: 1230px !important; }
  .elementor-location-header .gn-header-section .elementor-container .elementor-column:last-child .elementor-widget-wrap { padding-left: 0; }
  .elementor-location-header .gn-header-section .elementor-container .elementor-widget-nav-menu .elementor-nav-menu--main .elementor-nav-menu li a { font-size: 16px; padding: 13px 12px; }
  .elementor-location-header .gn-header-section .elementor-container .elementor-widget-button .elementor-widget-container { margin-left: 15px; }
  .elementor-location-header .gn-header-section .elementor-container .elementor-widget-button .elementor-widget-container .elementor-button-wrapper .elementor-button { font-size: 16px; min-width: 110px; } }

@media (min-width: 1025px) and (max-width: 1599.98px) { .gn-footer-section .elementor-container.elementor-column-gap-no { max-width: 1230px !important; } }
@media (max-width: 767.98px) { .gn-footer-section .gn-social .elementor-widget-container .elementor-icon-list-items .elementor-icon-list-item { margin-bottom: 8px; } }

.gn-white-line { display: flex; align-items: center; }
.gn-white-line::before { content: ''; display: inline-block; height: 1px; width: 30px; margin-right: 10px; background-color: #FFFFFF; }

.gn-red-line { display: flex; align-items: center; }
.gn-red-line::before { content: ''; display: inline-block; height: 1px; width: 30px; margin-right: 10px; background-color: #ED3F30; }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gn-hero-section .elementor-widget-heading .elementor-widget-container h1.elementor-heading-title { font-size: 50px; }
  .gn-hero-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gn-services-section .elementor-container { max-width: 1200px !important; } }
@media (min-width: 1025px) and (max-width: 1599.98px) { .gn-services-section .gn-services-left { width: 44% !important; }
  .gn-services-section .gn-services-right { width: 56% !important; }
  .gn-services-section .gn-services-image { height: 100%; }
  .gn-services-section .gn-services-image .elementor-widget-container { height: 100%; }
  .gn-services-section .gn-services-image .elementor-widget-container img { width: 100%; height: 100%; object-fit: cover; }
  .gn-services-section .gn-services .elementor-container { flex-wrap: wrap; }
  .gn-services-section .gn-services .elementor-container .elementor-column { width: 100%; }
  .gn-services-section .gn-services .elementor-container .elementor-column .elementor-widget-container { padding: 16px; }
  .gn-services-section .gn-services .elementor-container .elementor-column .elementor-widget-container .elementor-icon-box-icon .elementor-icon { padding: 16px; font-size: 18px; }
  .gn-services-section .gn-services .elementor-container .elementor-column .elementor-widget-container .elementor-icon-box-content .elementor-icon-box-title { font-size: 22px; } }

@media (min-width: 1025px) and (max-width: 1599.98px) { .gn-technology-section .gn-technology-right .elementor-widget-wrap .elementor-widget-image .elementor-widget-container { margin-right: -15px; }
  .gn-technology-section .gn-technology-right .elementor-widget-wrap .elementor-widget-icon.gn-technology-btn-video { left: 37%; bottom: 35%; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn-technology-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn-technology-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .gn-technology-section .elementor-widget-eg-step-list .eg-step-list .eg-step-box .eg-step-content .eg-step-title { font-size: 22px; }
  .gn-technology-section .elementor-widget-eg-step-list .eg-step-list .eg-step-box .eg-step-content .eg-step-des { font-size: 16px; } }

@media (min-width: 1025px) and (max-width: 1599.98px) { .gn-development-section .gn-development-right .elementor-widget-wrap .gn-development-img.elementor-widget-image .elementor-widget-container { margin-right: -15px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn-development-section .gn-development-evm { padding-left: 180px !important; }
  .gn-development-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn-development-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gn-tools-section { padding-top: 100px !important; }
  .gn-tools-section .elementor-column .elementor-widget-heading .elementor-widget-container h3.elementor-heading-title { font-size: 25px; }
  .gn-tools-section .elementor-column .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gn-enterprise-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn-enterprise-section .elementor-widget-eg-step-list .eg-step-list .eg-step-box .eg-step-content .eg-step-title { font-size: 22px; }
  .gn-enterprise-section .elementor-widget-eg-step-list .eg-step-list .eg-step-box .eg-step-content .eg-step-des { font-size: 16px; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gn-ecosystem-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn-ecosystem-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gn-network-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn-network-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

.gn-partners-section .gn-partners .eg-partners .eg-list-partners .eg-thumbnail { min-height: 86px; }
.gn-partners-section .gn-partners .eg-swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) { border: 2px solid #FFFFFF70; background-color: transparent !important; }

.gn-blog-section .gn-blog .eg-posts .eg-list-posts .eg-post .eg-post__content .eg-post__read-more { display: flex; align-items: center; }
.gn-blog-section .gn-blog .eg-posts .eg-list-posts .eg-post .eg-post__content .eg-post__read-more::before { content: ''; display: inline-block; height: 1px; width: 30px; margin-right: 10px; background-color: #ED3F30; }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn-blog-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gn-blog-section .gn-blog .eg-posts .eg-list-posts .eg-post .eg-post__content .eg-post__title { font-size: 24px; line-height: 36px; }
  .gn-blog-section .gn-blog .eg-posts .eg-list-posts .eg-post .eg-post__content .eg-post__excerpt { font-size: 16px; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gn-member-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

.gn-newsletter-section .gn-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-icon { display: none; }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gn-newsletter-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }
@media (max-width: 480px) { .gn-newsletter-section .gn-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-icon { display: block; }
  .gn-newsletter-section .gn-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-text { display: none; } }
