.sd-header-section .elementor-widget-image-box .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-content h3 { margin-top: 0; }
.sd-header-section .elementor-widget-search-form .elementor-widget-container .elementor-search-form .elementor-search-form__toggle i { background: transparent; }
@media (min-width: 1025px) and (max-width: 1200px) { .sd-header-section .sd-header-left .elementor-widget-image-box .elementor-widget-container { margin-left: 15px !important; }
  .sd-header-section .sd-header-left .elementor-widget-image-box .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-content p { font-size: 18px; } }

@media (min-width: 1025px) and (max-width: 1200px) { .sd-hero-section .elementor-widget-heading .elementor-widget-container h1.elementor-heading-title { max-width: 430px; font-size: 42px; }
  .sd-hero-section .elementor-widget-heading .elementor-widget-container p.elementor-heading-title { max-width: 430px; font-size: 16px; } }
@media (max-width: 767.98px) { .sd-hero-section .sd-mouse.elementor-widget-image { transform: translateX(-50%); } }

.sd-services-section .elementor-widget-image-box .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-img { position: relative; }
.sd-services-section .elementor-widget-image-box .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-img::before { content: ''; width: 72px; height: 72px; background: #FFFFFF; border-radius: 50%; position: absolute; left: 0; bottom: -5px; }
.sd-services-section .elementor-widget-image-box .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-img img { margin-left: 4px; position: relative; }
@media (min-width: 1025px) and (max-width: 1200px) { .sd-services-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 42px; }
  .sd-services-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 18px; }
  .sd-services-section .elementor-widget-image-box .elementor-widget-container { padding: 38px !important; }
  .sd-services-section .elementor-widget-image-box .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-content .elementor-image-box-title { font-size: 18px; } }

@keyframes plsying { 0% { box-shadow: 0 0 0 0 #7567F8; }
  40% { box-shadow: 0 0 0 25px rgba(255, 26, 67, 0); }
  80% { box-shadow: 0 0 0 25px rgba(255, 206, 67, 0); }
  100% { box-shadow: 0 0 0 0 rgba(255, 206, 67, 0); } }
.sd-about-section .elementor-widget-video .elementor-widget-container .elementor-wrapper .elementor-custom-embed-play { top: 60%; left: 120px; }
.sd-about-section .elementor-widget-video .elementor-widget-container .elementor-wrapper .elementor-custom-embed-play .eicon-play { border-radius: 50%; animation: plsying 1.5s infinite; }
@media (min-width: 1025px) and (max-width: 1200px) { .sd-about-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 42px; }
  .sd-about-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 18px; }
  .sd-about-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }
@media (max-width: 1024.98px) { .sd-about-section .elementor-widget-video .elementor-widget-container .elementor-wrapper .elementor-custom-embed-play { top: 50%; left: 60px; } }

.sd-increased-section .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-number-wrapper { align-items: baseline; margin-bottom: 16px; }
.sd-increased-section .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-number-wrapper .elementor-counter-number-suffix { font-size: 48px; line-height: 1; }
@media (max-width: 1024.98px) { .sd-increased-section .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-number-wrapper { margin-bottom: 8px; }
  .sd-increased-section .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-number-wrapper .elementor-counter-number-suffix { font-size: 40px; } }

@media (min-width: 1025px) and (max-width: 1200px) { .sd-project-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 42px; }
  .sd-project-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 18px; } }

@media (min-width: 1025px) and (max-width: 1200px) { .sd-clients-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 42px; }
  .sd-clients-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 18px; }
  .sd-clients-section .elementor-widget-eg-testimonials-carousel .elementor-widget-container .eg-testimonials .eg-list-testimonials .eg-testimonial { padding: 40px 50px; } }
@media (max-width: 1024.98px) { .sd-clients-section .elementor-widget-eg-testimonials-carousel .elementor-widget-container .eg-testimonials .eg-list-testimonials .eg-testimonial .eg-thumbnail-wrap .eg-thumbnail { width: 86px; height: 86px; }
  .sd-clients-section .elementor-widget-eg-testimonials-carousel .elementor-widget-container .eg-testimonials .eg-list-testimonials .eg-testimonial .eg-content { padding-left: 20px; } }
@media (max-width: 767.98px) { .sd-clients-section .elementor-widget-eg-testimonials-carousel .elementor-widget-container .eg-testimonials .eg-list-testimonials .eg-testimonial .eg-thumbnail-wrap .eg-thumbnail { width: 72px; height: 72px; }
  .sd-clients-section .elementor-widget-eg-testimonials-carousel .elementor-widget-container .eg-testimonials .eg-list-testimonials .eg-testimonial .eg-content { padding-left: 16px; } }

@media (min-width: 1025px) and (max-width: 1200px) { .sd-team-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 42px; }
  .sd-team-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 18px; } }

.sd-readmore-section .elementor-widget-image-box .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-img { min-width: 112px; height: 112px; display: flex; align-items: center; justify-content: center; border-radius: 50%; background-color: #FFFFFF; }
.sd-readmore-section .elementor-widget-image-box .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-content h3 { margin-top: 0; }
@media (min-width: 1025px) and (max-width: 1200px) { .sd-readmore-section .elementor-widget-image-box .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-img { margin-right: 25px !important; min-width: 100px; height: 100px; }
  .sd-readmore-section .elementor-widget-image-box .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-content h3 { font-size: 36px; }
  .sd-readmore-section .elementor-widget-image-box .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-content p { font-size: 16px; }
  .sd-readmore-section .elementor-widget-button .elementor-widget-container { margin-left: 0 !important; }
  .sd-readmore-section .elementor-widget-button .elementor-widget-container .elementor-button-wrapper .elementor-button { min-width: 175px; } }

.sd-pricing-section .sd-pricing-item .elementor-widget-heading .elementor-widget-container h2 span { font-size: 24px; }
.sd-pricing-section .sd-pricing-item:hover .elementor-widget-heading .elementor-widget-container h2 { color: #FFFFFF; }
.sd-pricing-section .sd-pricing-item:hover .elementor-widget-heading .elementor-widget-container div { color: #FFFFFF; }
.sd-pricing-section .sd-pricing-item:hover .elementor-widget-heading .elementor-widget-container h3 { color: #FFFFFF; }
.sd-pricing-section .sd-pricing-item:hover .elementor-widget-icon-list .elementor-widget-container .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-icon i { color: #FFFFFF; }
.sd-pricing-section .sd-pricing-item:hover .elementor-widget-icon-list .elementor-widget-container .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text { color: #FFFFFF; }
.sd-pricing-section .sd-pricing-item:hover .elementor-widget-button .elementor-widget-container .elementor-button-wrapper .elementor-button { background: #7567F8; border-color: #FFFFFF; }
@media (min-width: 1025px) and (max-width: 1200px) { .sd-pricing-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 42px; }
  .sd-pricing-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 18px; }
  .sd-pricing-section .sd-pricing-item .elementor-widget-wrap { padding: 40px 45px 50px !important; }
  .sd-pricing-section .sd-pricing-item .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 16px; } }

.sd-blog-section .elementor-widget-eg-posts .elementor-widget-container .eg-list-posts .eg-post .eg-post__content .eg-post__date i { color: #7567F8; }
@media (min-width: 1025px) and (max-width: 1200px) { .sd-blog-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 42px; }
  .sd-blog-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 18px; } }

.sd-contact-section .sd-contact-form .elementor-container { margin-right: 0; }
@media (min-width: 1025px) and (max-width: 1200px) { .sd-contact-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 42px; }
  .sd-contact-section .elementor-widget-heading .elementor-widget-container p.elementor-heading-title { font-size: 16px; }
  .sd-contact-section .elementor-widget-icon-list .elementor-widget-container .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text { font-size: 16px; } }
@media (max-width: 767.98px) { .sd-contact-section .sd-contact-form .elementor-container { margin-right: auto; } }

/*# sourceMappingURL=home-12.css.map */
