@media (min-width: 1200px) and (max-width: 1599.98px) { .elementor-section.gc-hero-section .elementor-container, .elementor-section.gc-trailer-section .elementor-container, .elementor-section.gc-video-section .elementor-container, .elementor-section.gc-features-section .elementor-container, .elementor-section.gc-afarm-section .elementor-container, .elementor-section.gc-members .elementor-container, .elementor-section.gc-partners-section .elementor-container { max-width: 1230px !important; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gc-hero-section .elementor-widget-heading .elementor-widget-container h1.elementor-heading-title { font-size: 100px; }
  .gc-hero-section .elementor-widget-heading .elementor-widget-container h3.elementor-heading-title { font-size: 50px; } }

.gc-reviews-section .elementor-widget-eg-reviews-carousel .elementor-widget-container .eg-swiper-button { background: linear-gradient(180deg, #05666C 0%, #02CFD2 100%); border: 1px solid #FFFFFF; box-sizing: border-box; box-shadow: 0px 10px 20px rgba(2, 207, 210, 0.2); }
@media (max-width: 767.98px) { .gc-reviews-section .elementor-widget-eg-reviews-carousel .elementor-widget-container .eg-swiper-button-prev { left: 0; }
  .gc-reviews-section .elementor-widget-eg-reviews-carousel .elementor-widget-container .eg-swiper-button-next { right: 0; } }

.gc-trailer-section .gc-btn-play .elementor-button-text { flex-grow: unset; }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gc-trailer-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gc-trailer-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 30px; }
  .gc-trailer-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gc-features-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gc-features-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 30px; }
  .gc-features-section .gc-features-new .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 28px; }
  .gc-features-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }
.gc-features-section .gc-image-forest { height: 100%; }
@media (min-width: 1025px) and (max-width: 1599.98px) { .gc-features-section .gc-image-forest .elementor-widget-container { height: 100%; }
  .gc-features-section .gc-image-forest .elementor-widget-container img { height: 100%; object-fit: cover; } }
@media (max-width: 360px) { .gc-features-section .gc-trading-purchase-img { display: none; } }

@media (min-width: 1025px) and (max-width: 1599.98px) { .gc-afarm-section .gc-farm, .gc-afarm-section .gc-build-farm, .gc-afarm-section .gc-combination, .gc-afarm-section .gc-gene-mutations, .gc-build-decorate-section .gc-farm, .gc-build-decorate-section .gc-build-farm, .gc-build-decorate-section .gc-combination, .gc-build-decorate-section .gc-gene-mutations, .gc-combination-section .gc-farm, .gc-combination-section .gc-build-farm, .gc-combination-section .gc-combination, .gc-combination-section .gc-gene-mutations, .gc-gene-mutations-section .gc-farm, .gc-gene-mutations-section .gc-build-farm, .gc-gene-mutations-section .gc-combination, .gc-gene-mutations-section .gc-gene-mutations { width: 86% !important; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gc-afarm-section .elementor-widget-heading .elementor-widget-container, .gc-build-decorate-section .elementor-widget-heading .elementor-widget-container, .gc-combination-section .elementor-widget-heading .elementor-widget-container, .gc-gene-mutations-section .elementor-widget-heading .elementor-widget-container { margin-bottom: 25px; }
  .gc-afarm-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title, .gc-build-decorate-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title, .gc-combination-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title, .gc-gene-mutations-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gc-afarm-section .elementor-widget-text-editor .elementor-widget-container, .gc-build-decorate-section .elementor-widget-text-editor .elementor-widget-container, .gc-combination-section .elementor-widget-text-editor .elementor-widget-container, .gc-gene-mutations-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }
@media (max-width: 550px) { .gc-afarm-section .gc-farm .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-afarm-section .gc-build-farm .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-afarm-section .gc-combination .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-afarm-section .gc-gene-mutations .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-build-decorate-section .gc-farm .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-build-decorate-section .gc-build-farm .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-build-decorate-section .gc-combination .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-build-decorate-section .gc-gene-mutations .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-combination-section .gc-farm .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-combination-section .gc-build-farm .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-combination-section .gc-combination .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-combination-section .gc-gene-mutations .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-gene-mutations-section .gc-farm .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-gene-mutations-section .gc-build-farm .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-gene-mutations-section .gc-combination .elementor-widget.elementor-widget-text-editor .elementor-widget-container, .gc-gene-mutations-section .gc-gene-mutations .elementor-widget.elementor-widget-text-editor .elementor-widget-container { padding: 25px 20px; background-size: auto; } }
.gc-afarm-section h2.elementor-heading-title, .gc-build-decorate-section h2.elementor-heading-title, .gc-combination-section h2.elementor-heading-title, .gc-gene-mutations-section h2.elementor-heading-title { -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
.gc-afarm-section .elementor-widget-text-editor .elementor-widget-container, .gc-build-decorate-section .elementor-widget-text-editor .elementor-widget-container, .gc-combination-section .elementor-widget-text-editor .elementor-widget-container, .gc-gene-mutations-section .elementor-widget-text-editor .elementor-widget-container { margin-top: -20px; }

.gc-build-decorate-section .elementor-widget-image { -webkit-transform: scaleX(-1); transform: scaleX(-1); }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gc-road-map-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; }
  .gc-road-map-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { padding-top: 8px; font-size: 30px; } }
@media (max-width: 1024px) { .gc-road-map-section .gc-roadmap-img .elementor-widget-container { overflow-x: scroll; white-space: nowrap; }
  .gc-road-map-section .gc-roadmap-img .elementor-widget-container img { min-width: 1024px; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gc-team-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; }
  .gc-team-section .gc-members .elementor-column .elementor-widget-heading h3.elementor-heading-title { font-size: 30px; } }

.gc-partners-section .gc-partners .eg-list-partners .eg-thumbnail { min-height: 133px; }
.gc-partners-section .gc-partners .eg-show-more a { background: linear-gradient(180deg, #FFE41B 0%, #FFB411 100%); box-shadow: 0px 10px 20px rgba(255, 228, 27, 0.3); }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gc-partners-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 64px; } }
@media (max-width: 1024px) { .gc-partners-section .gc-partners .eg-list-partners .eg-thumbnail { min-height: 170px; } }
@media (max-width: 782px) { .gc-partners-section .gc-partners .eg-list-partners .eg-thumbnail { min-height: 130px; } }
@media (max-width: 767.98px) { .gc-partners-section .gc-partners .eg-list-partners .eg-thumbnail { min-height: 80px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { header.elementor-location-header .gc-header-section.elementor-top-section { padding-left: 25px; padding-right: 25px; }
  header.elementor-location-header .gc-header-section.elementor-top-section .elementor-nav-menu--main ul.elementor-nav-menu > li a { padding: 25px 15px; font-size: 16px; } }
@media (min-width: 1025px) and (max-width: 1200px) { header.elementor-location-header .gc-header-section.elementor-top-section { padding-left: 24px; padding-right: 24px; }
  header.elementor-location-header .gc-header-section.elementor-top-section .elementor-nav-menu--main ul.elementor-nav-menu > li a { padding: 25px 12px; font-size: 15px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gc-header-section .elementor-container { max-width: 1230px !important; } }
.gc-header-section .elementor-nav-menu > li.menu-item.current-menu-item > a:before { opacity: 1; }
.gc-header-section .elementor-nav-menu > li.menu-item > a.elementor-item { position: relative; }
.gc-header-section .elementor-nav-menu > li.menu-item > a.elementor-item.elementor-item-active:before { opacity: 1; }
.gc-header-section .elementor-nav-menu > li.menu-item > a.elementor-item:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #3A8914; z-index: -1; opacity: 0; -webkit-transform: skewX(-20deg); transform: skewX(-20deg); -webkit-transition: all 0.3s; transition: all 0.3s; }
@media (max-width: 767.98px) { .gc-header-section .elementor-container.elementor-column-gap-no { max-width: 570px; } }

.gc-footer-section { padding: 50px 0; }
.gc-footer-section .elementor-widget .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after { top: unset; -webkit-transform: unset; transform: unset; }
.gc-footer-section .gc-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-icon { display: none; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gc-footer-section .elementor-container { max-width: 1230px !important; } }
@media (min-width: 1025px) and (max-width: 1599.98px) { .gc-footer-section .elementor-container .elementor-column .elementor-widget-form .elementor-form .elementor-field { font-size: 22px; line-height: 46px; }
  .gc-footer-section .elementor-container .elementor-column .elementor-widget-form .elementor-form .elementor-field-type-submit .elementor-button { font-size: 22px; line-height: 22px; }
  .gc-footer-section .elementor-container .elementor-column .gc-footer-policy .elementor-icon-list-items .elementor-icon-list-item a { font-size: 18px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gc-footer-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 16px; } }
@media (max-width: 767.98px) { .gc-footer-section .elementor-container .elementor-column .elementor-widget-form .elementor-form .elementor-field { min-height: 56px; }
  .gc-footer-section .elementor-container .elementor-column .elementor-widget-form .elementor-form .elementor-field-type-submit .elementor-button { min-height: 56px; } }
@media (max-width: 480px) { .gc-footer-section .gc-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-icon { display: block; }
  .gc-footer-section .gc-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-text { display: none; } }
