@media (min-width: 1200px) and (max-width: 1599.98px) { .elementor-section.nft-hero-section .elementor-container, .elementor-section.nft-about-section .elementor-container, .elementor-section.nft-users-section .elementor-container, .elementor-section.nft-features-section .elementor-container, .elementor-section.nft-roadmap-section .elementor-container, .elementor-section.nft-team-section .elementor-container, .elementor-section.nft-partners-section .elementor-container { max-width: 1230px !important; } }

.elementor_library-template-default .nft-header-section { background-color: #130523; }

.page-template-elementor_header_footer .elementor-section-wrap { position: static; }

.nft-menu-mobile .elementor-widget-nav-menu .elementor-nav-menu--main ul li a { border-bottom: 1px solid #37274D; }
.nft-menu-mobile .elementor-widget-nav-menu .elementor-nav-menu--main ul li a.elementor-item-active { font-weight: bold; }
.nft-menu-mobile .elementor-widget-eg-language-switcher .eg-select-layout .eg-select-box .eg-select-list { left: 50%; transform: translateX(-50%); }

.nft-header-section { -webkit-transition: background-color .3s; transition: background-color .3s; }
.nft-header-section.elementor-sticky--effects { background-color: #130523; -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25); box-shadow: 0 0 1px rgba(255, 255, 255, 0.25); }
@media (max-width: 1599.98px) { .nft-header-section .elementor-container .elementor-widget-eg-language-switcher .elementor-widget-container .eg-select-layout .eg-select-list { left: -112px; } }
@media (min-width: 1025px) and (max-width: 1599.98px) { .nft-header-section .elementor-container { max-width: 1230px !important; }
  .nft-header-section .elementor-container .elementor-widget-nav-menu .elementor-widget-container .elementor-nav-menu--main .elementor-nav-menu li > a { font-size: 16px; padding: 13px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .nft-header-section .elementor-container .elementor-column:nth-child(2) { width: 64%; }
  .nft-header-section .elementor-container .elementor-column:nth-child(2) .elementor-widget-wrap { padding: 15px 0; }
  .nft-header-section .elementor-container .elementor-column:nth-child(3) { width: 16%; }
  .nft-header-section .elementor-container .elementor-widget-nav-menu .elementor-widget-container .elementor-nav-menu--main .elementor-nav-menu li > a { font-size: 15px; padding: 13px 12px; } }

.nft-footer-section .nft-subscribe-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button { margin-left: -15px; }
.nft-footer-section .nft-subscribe-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-icon { display: none; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .nft-footer-section .elementor-container { max-width: 1230px !important; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .nft-footer-section .elementor-container .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .nft-footer-section .elementor-container .elementor-widget-eg-icon-list .elementor-widget-container .eg-icon-list-items .eg-icon-list .eg-icon-item .eg-icon-list-icon svg { width: 80px; }
  .nft-footer-section .elementor-container .elementor-widget-heading .elementor-widget-container h3.elementor-heading-title { font-size: 24px; }
  .nft-footer-section .elementor-container .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 16px; } }
@media (max-width: 480px) { .nft-footer-section .nft-subscribe-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-icon { display: block; }
  .nft-footer-section .nft-subscribe-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-text { display: none; } }

@media (min-width: 768px) { .nft-hero-section .nft-bid-box .elementor-container .nft-bid-popular .eg-icon-box { justify-content: center; }
  .nft-hero-section .nft-bid-box .elementor-container .nft-bid-popular .eg-icon-box .eg-content { flex-grow: 0; } }
@media (min-width: 1025px) and (max-width: 1599.98px) { .nft-hero-section .nft-bid-box .elementor-container .elementor-widget-button { width: 100%; }
  .nft-hero-section .nft-bid-box .elementor-container .elementor-widget-button .elementor-widget-container { margin: 10px 0 0 0; } }
@media (min-width: 1200px) and (max-width: 1599.98px) { .nft-hero-section .elementor-widget-heading .elementor-widget-container h1.elementor-heading-title { font-size: 56px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .nft-hero-section .elementor-widget-heading .elementor-widget-container h1.elementor-heading-title { font-size: 50px; }
  .nft-hero-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .nft-hero-section .elementor-widget-spacer .elementor-widget-container .elementor-spacer .elementor-spacer-inner { height: 60px; } }

.nft-users-section .nft-users .elementor-widget-container .elementor-image-gallery .gallery .gallery-item { margin-left: -8px; }
.nft-users-section .nft-users .elementor-widget-container .elementor-image-gallery .gallery .gallery-item:first-child { margin-left: 0; }
@media (min-width: 1025px) and (max-width: 1199.98px) { .nft-users-section { padding: 40px 0 !important; }
  .nft-users-section .elementor-widget-heading .elementor-widget-container .elementor-heading-title { font-size: 16px; }
  .nft-users-section .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-number-wrapper { font-size: 40px; } }
@media (max-width: 767.98px) { .nft-users-section .nft-users .elementor-widget-container .elementor-image-gallery .gallery { display: flex; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .nft-about-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 56px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .nft-about-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .nft-about-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .nft-about-section .nft-connection .elementor-widget-image-box .elementor-image-box-wrapper .elementor-image-box-description { font-size: 16px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .nft-market-section .elementor-container { max-width: 1200px !important; }
  .nft-market-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 56px; }
  .nft-market-section .nft-market-counter .elementor-widget-wrap { padding: 0 !important; }
  .nft-market-section .nft-market-counter .elementor-widget-wrap .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-number-wrapper { font-size: 48px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .nft-market-section .elementor-container .elementor-column.nft-market-left .elementor-widget-wrap { padding: 30px; }
  .nft-market-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .nft-market-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .nft-market-section .nft-market-counter .elementor-widget-wrap { padding: 0 !important; }
  .nft-market-section .nft-market-counter .elementor-widget-wrap .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-number-wrapper { font-size: 38px; }
  .nft-market-section .nft-market-counter .elementor-widget-wrap .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-title { font-style: 16px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .nft-features-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 56px; }
  .nft-features-section .nft-services .elementor-container .elementor-column .elementor-widget-wrap { padding: 30px; }
  .nft-features-section .nft-services .elementor-container .elementor-column .elementor-widget-wrap .elementor-widget-heading .elementor-widget-container h3.elementor-heading-title { font-size: 32px; }
  .nft-features-section .nft-services .elementor-container .elementor-column .elementor-widget-wrap .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 22px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .nft-features-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .nft-features-section .nft-services .elementor-container .elementor-column .elementor-widget-wrap { padding: 30px; }
  .nft-features-section .nft-services .elementor-container .elementor-column .elementor-widget-wrap .elementor-widget-heading .elementor-widget-container h3.elementor-heading-title { font-size: 30px; }
  .nft-features-section .nft-services .elementor-container .elementor-column .elementor-widget-wrap .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 20px; }
  .nft-features-section .nft-services .elementor-container .elementor-column .elementor-widget-wrap .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .nft-roadmap-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 56px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .nft-roadmap-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; } }
@media (max-width: 1024px) { .nft-roadmap-section .nft-roadmap .elementor-widget-container { overflow-x: scroll; white-space: nowrap; }
  .nft-roadmap-section .nft-roadmap .elementor-widget-container img { min-width: 996px; } }

.nft-team-section .elementor-widget-eg-members-carousel .eg-swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) { border: 2px solid #FFFFFF30; background-color: transparent !important; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .nft-team-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 56px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .nft-team-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .nft-team-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; }
  .nft-team-section .elementor-widget-eg-members-carousel .eg-list-members .swiper-slide .eg-member .eg-content { padding: 12px; }
  .nft-team-section .elementor-widget-eg-members-carousel .eg-list-members .swiper-slide .eg-member .eg-content .eg-name { font-size: 22px; line-height: 32px; }
  .nft-team-section .elementor-widget-eg-members-carousel .eg-list-members .swiper-slide .eg-member .eg-content .eg-job { font-size: 16px; } }

.nft-partners-section .nft-partners .eg-partners .eg-list-partners .eg-partner-item .eg-thumbnail { min-height: 100px; }
@media (min-width: 1025px) and (max-width: 1199.98px) { .nft-partners-section { padding-bottom: 550px !important; } }
@media (max-width: 375px) { .nft-partners-section { padding-bottom: 230px !important; } }
