.qs-btn-cta .elementor-widget-container .elementor-button-wrapper .elementor-button { position: relative; }
.qs-btn-cta .elementor-widget-container .elementor-button-wrapper .elementor-button::before { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); background: #1F2334; width: 60px; height: 60px; border-radius: 50%; z-index: 0; }
.qs-btn-cta .elementor-widget-container .elementor-button-wrapper .elementor-button span { z-index: 1; }

.qs-footer-section .qs-copyright-text .elementor-widget-container span { color: #F7E406; font-weight: 400; }
@media (min-width: 1025px) { .qs-footer-section .qs-footer-main .elementor-container { margin-right: 0; } }

.qs-hero-section .qs-hero-wrap { overflow: hidden; }
.qs-hero-section .elementor-widget-heading .elementor-widget-container h1.elementor-heading-title span { color: #F7E406; font-weight: 300; }
@media (min-width: 1025px) { .qs-hero-section .qs-hero-wrap .elementor-container { margin-right: 0; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .qs-hero-section .elementor-widget-heading .elementor-widget-container h1.elementor-heading-title { font-size: 50px; }
  .qs-hero-section .elementor-widget-heading .elementor-widget-container p.elementor-heading-title { font-size: 16px; } }

@media (min-width: 1025px) { .qs-hello-section .elementor-container { margin-right: 0 !important; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .qs-hello-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 70px; }
  .qs-hello-section .elementor-widget-heading .elementor-widget-container div.elementor-heading-title { font-size: 40px; }
  .qs-hello-section .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-number-wrapper { font-size: 50px; }
  .qs-hello-section .elementor-widget-counter .elementor-widget-container .elementor-counter .elementor-counter-title { font-size: 16px; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .qs-offer-section { padding: 100px 0 !important; } }

.qs-projects-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title span { color: #F7E406; }
.qs-projects-section .elementor-widget-eg-projects-carousel .elementor-widget-container .eg-swiper-button { position: unset; margin-top: 50px; transform: translate(0, 0); }
.qs-projects-section .elementor-widget-eg-projects-carousel .elementor-widget-container .eg-swiper-button:not(.swiper-button-disabled) { opacity: 0.9; }
.qs-projects-section .elementor-widget-eg-projects-carousel .elementor-widget-container .eg-swiper-button-next { margin-left: 16px; }
@media (min-width: 1025px) and (max-width: 1199.98px) { .qs-projects-section { padding: 100px 0 !important; }
  .qs-projects-section .qs-brain-box .elementor-widget-wrap { padding-right: 40px !important; }
  .qs-projects-section .elementor-widget-heading .elementor-widget-container p.elementor-heading-title { font-size: 16px; }
  .qs-projects-section .elementor-widget-eg-projects-carousel .elementor-widget-container .eg-projects .eg-project .eg-project__content .eg-project__title { font-size: 24px; }
  .qs-projects-section .elementor-widget-eg-projects-carousel .elementor-widget-container .eg-swiper-button { margin-top: 40px; font-size: 22px; } }
@media (max-width: 1024.98px) { .qs-projects-section .elementor-widget-eg-projects-carousel .elementor-widget-container .eg-swiper-button { margin-top: 40px; font-size: 20px; } }

.qs-reviews-section .elementor-widget-eg-testimonials .elementor-widget-container .eg-testimonials .elementor-item:nth-child(1n) { background-color: #0C0D13; }
.qs-reviews-section .elementor-widget-eg-testimonials .elementor-widget-container .eg-testimonials .elementor-item:nth-child(2n) { background-color: #1F2334; }
.qs-reviews-section .elementor-widget-eg-testimonials .elementor-widget-container .eg-testimonials .elementor-item:nth-child(2n) .eg-thumbnail-wrap .eg-qoute-icon { background-color: #1F2334; }
.qs-reviews-section .elementor-widget-eg-testimonials .elementor-widget-container .eg-testimonials .eg-testimonial { max-width: 1200px; margin: 0 auto; }

.qs-trust-us-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title span { color: #F7E406; font-weight: 400; }
.qs-trust-us-section .elementor-widget-text-editor .elementor-widget-container .gallery { display: grid; grid-template-columns: repeat(2, 1fr); grid-column-gap: 30px; grid-row-gap: 30px; }
.qs-trust-us-section .elementor-widget-text-editor .elementor-widget-container .gallery .gallery-item { margin: 0; width: 100%; }
.qs-trust-us-section .elementor-widget-text-editor .elementor-widget-container .gallery a { width: 100%; height: 100%; }
.qs-trust-us-section .elementor-widget-text-editor .elementor-widget-container .gallery img { height: 100%; width: 100%; object-fit: cover; }
@media (min-width: 1025px) and (max-width: 1199.98px) { .qs-trust-us-section { padding: 40px 0 50px !important; }
  .qs-trust-us-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .qs-trust-us-section .elementor-widget-text-editor .elementor-widget-container { font-size: 16px; } }
