@media (min-width: 1200px) and (max-width: 1599.98px) { .mc-hero-section > .elementor-container { max-width: 1230px !important; }
  .mc-hero-section .elementor-element.elementor-widget-heading h1.elementor-heading-title { max-width: 760px; font-size: 58px; }
  .mc-hero-section .elementor-element.elementor-widget-heading div.elementor-heading-title { font-size: 22px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .mc-hero-section > .elementor-container { max-width: 1020px !important; }
  .mc-hero-section .elementor-element.elementor-widget-heading h1.elementor-heading-title { max-width: 660px; font-size: 48px; }
  .mc-hero-section .elementor-element.elementor-widget-heading div.elementor-heading-title { font-size: 20px; }
  .mc-hero-section .elementor-element.elementor-widget-button .elementor-button { font-size: 16px !important; } }
@media (max-width: 767.98px) { .mc-hero-section .elementor-element.elementor-widget-icon-box .elementor-icon-box-wrapper { display: flex; align-items: center; justify-content: center; }
  .mc-hero-section .elementor-element.elementor-widget-icon-box .elementor-icon-box-wrapper .elementor-icon-box-icon { margin: 0 15px 0 0 !important; }
  .mc-hero-section .elementor-element.elementor-widget-icon-box .elementor-icon-box-wrapper .elementor-icon-box-content { flex-grow: unset; text-align: left; }
  .mc-hero-section .elementor-element.elementor-widget-icon-list { margin: 0 auto; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .mc-what-coin-section > .elementor-container { max-width: 1230px !important; }
  .mc-what-coin-section .elementor-element.elementor-widget-heading h2.elementor-heading-title { font-size: 58px; }
  .mc-what-coin-section .elementor-element.elementor-widget-heading div.elementor-heading-title { font-size: 22px; }
  .mc-what-coin-section .elementor-element.elementor-widget-blockquote .elementor-blockquote { padding-left: 30px !important; }
  .mc-what-coin-section .elementor-element.elementor-widget-blockquote .elementor-blockquote .elementor-blockquote__content { font-size: 28px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .mc-what-coin-section > .elementor-container { max-width: 1020px !important; }
  .mc-what-coin-section .elementor-element.elementor-widget-heading h2.elementor-heading-title { font-size: 48px; }
  .mc-what-coin-section .elementor-element.elementor-widget-heading h3.elementor-heading-title { font-size: 24px; }
  .mc-what-coin-section .elementor-element.elementor-widget-heading div.elementor-heading-title { font-size: 20px; }
  .mc-what-coin-section .elementor-element.elementor-widget-text-editor { font-size: 16px !important; }
  .mc-what-coin-section .elementor-element.elementor-widget-blockquote .elementor-blockquote { padding-left: 30px !important; }
  .mc-what-coin-section .elementor-element.elementor-widget-blockquote .elementor-blockquote .elementor-blockquote__content { font-size: 28px; }
  .mc-what-coin-section .elementor-element.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .mc-what-coin-section .elementor-element.elementor-widget-icon-list .elementor-icon-list-item > a { font-size: 20px !important; } }

.mc-video-section .elementor-element.elementor-widget-text-editor.mc-coin-list ul { list-style: none; margin: 0; padding: 0; }
.mc-video-section .elementor-element.elementor-widget-text-editor.mc-coin-list ul li:not(:last-child) { margin-bottom: 15px; }
.mc-video-section .elementor-element.elementor-widget-text-editor.mc-coin-list ul li a { display: inline-block; font-weight: 500; font-size: 75%; color: #F96328; margin-left: 8px; padding: 1px 20px; border: 1px solid #F96328; border-radius: 25px; -webkit-transition: all .3s; transition: all .3s; }
.mc-video-section .elementor-element.elementor-widget-text-editor.mc-coin-list ul li a:hover { color: #FFFFFF; background: #F96328; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .mc-video-section > .elementor-container { max-width: 1230px !important; }
  .mc-video-section .elementor-element.elementor-widget-heading h2.elementor-heading-title { font-size: 58px; }
  .mc-video-section .elementor-element.elementor-widget-heading div.elementor-heading-title { font-size: 22px; }
  .mc-video-section .elementor-element.elementor-widget-text-editor.mc-coin-list { font-size: 20px !important; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .mc-video-section > .elementor-container { max-width: 1020px !important; }
  .mc-video-section .elementor-element.elementor-widget-heading h2.elementor-heading-title { font-size: 48px; }
  .mc-video-section .elementor-element.elementor-widget-heading div.elementor-heading-title { font-size: 20px; }
  .mc-video-section .elementor-element.elementor-widget-text-editor { font-size: 16px !important; }
  .mc-video-section .elementor-element.elementor-widget-text-editor.mc-coin-list { font-size: 18px !important; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .mc-service-section > .elementor-container { max-width: 1230px !important; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .mc-service-section > .elementor-container { max-width: 1020px !important; }
  .mc-service-section .elementor-element.elementor-widget-heading h4.elementor-heading-title { font-size: 22px; }
  .mc-service-section .elementor-element.elementor-widget-text-editor { font-size: 16px !important; }
  .mc-service-section .elementor-element.elementor-widget-button .elementor-button { font-size: 16px !important; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .mc-roadmap-section > .elementor-container { max-width: 1230px !important; }
  .mc-roadmap-section .elementor-element.elementor-widget-heading h2.elementor-heading-title { font-size: 58px; }
  .mc-roadmap-section .elementor-element.elementor-widget-heading div.elementor-heading-title { font-size: 22px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .mc-roadmap-section > .elementor-container { max-width: 1020px !important; }
  .mc-roadmap-section .elementor-element.elementor-widget-heading h2.elementor-heading-title { font-size: 48px; }
  .mc-roadmap-section .elementor-element.elementor-widget-heading div.elementor-heading-title { font-size: 20px; }
  .mc-roadmap-section .elementor-element.elementor-widget-text-editor { font-size: 16px !important; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .mc-comunity-section .elementor-element.elementor-widget-heading h2.elementor-heading-title { max-width: 820px; font-size: 58px; }
  .mc-comunity-section .elementor-element.elementor-widget-heading div.elementor-heading-title { font-size: 22px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .mc-comunity-section .elementor-element.elementor-widget-heading h2.elementor-heading-title { max-width: 680px; font-size: 48px; }
  .mc-comunity-section .elementor-element.elementor-widget-heading div.elementor-heading-title { font-size: 20px; }
  .mc-comunity-section .elementor-element.elementor-widget-text-editor { font-size: 16px !important; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .mc-join-section > .elementor-container { max-width: 1230px !important; }
  .mc-join-section .elementor-element.elementor-widget-heading h2.elementor-heading-title { font-size: 58px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .mc-join-section > .elementor-container { max-width: 1020px !important; }
  .mc-join-section .elementor-element.elementor-widget-heading h2.elementor-heading-title { font-size: 48px; }
  .mc-join-section .elementor-element.elementor-widget-text-editor { font-size: 16px !important; }
  .mc-join-section .elementor-element .elementor-widget-form .elementor-field-group .elementor-field, .mc-join-section .elementor-element .elementor-widget-form .elementor-button { font-size: 16px !important; } }
@media (max-width: 480px) { .mc-join-section .mc-contact-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button { min-height: 54px; }
  .mc-join-section .mc-contact-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-icon { margin: 0; font-size: 27px; line-height: 0; }
  .mc-join-section .mc-contact-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-text { display: none; } }

@media (min-width: 1025px) { .mc-header-section .elementor-nav-menu > li.current-menu-item { background-image: url("../images/mc-current-menu-item.svg"); background-repeat: no-repeat; background-position: center bottom; background-size: auto 15px; } }
@media (min-width: 1200px) and (max-width: 1599.98px) { .mc-header-section > .elementor-container { max-width: 1200px !important; }
  .mc-header-section .mc-menu-col .elementor-element.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item { padding-left: 10px; padding-right: 10px; }
  .mc-header-section .mc-button-col .elementor-element.elementor-widget-button .elementor-button { font-size: 16px; min-width: 150px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .mc-header-section .mc-menu-col { width: 83% !important; }
  .mc-header-section .mc-menu-col .elementor-nav-menu--layout-horizontal { justify-content: flex-end; }
  .mc-header-section .mc-button-col { display: none; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .mc-footer-section > .elementor-container { max-width: 1230px !important; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .mc-footer-section > .elementor-container { max-width: 1020px !important; }
  .mc-footer-section .elementor-element.elementor-widget-heading h4.elementor-heading-title { font-size: 22px; }
  .mc-footer-section .elementor-element.elementor-widget-heading div.elementor-heading-title { font-size: 16px; } }
