@media (min-width: 1200px) and (max-width: 1599.98px) { .elementor-section.gc2-hero-section .elementor-container, .elementor-section.gc2-crypto-section .elementor-container, .elementor-section.gc2-tech-section .elementor-container, .elementor-section.gc2-metaverse-section .elementor-container, .elementor-section.gc2-app-section .elementor-container, .elementor-section.gc2-investors-section .elementor-container, .elementor-section.gc2-faqs-section .elementor-container { max-width: 1230px !important; } }

.gc2-app-btn .elementor-button-wrapper .elementor-button { text-align: left; background-color: transparent; background-image: url(../images/btn-app-bg.svg); background-size: cover; background-repeat: no-repeat; background-position: bottom; border-radius: 10px; }
.gc2-app-btn .elementor-button-wrapper .elementor-button .elementor-button-icon { font-size: 34px; display: flex; }
.gc2-app-btn .elementor-button-wrapper .elementor-button .elementor-button-text span { font-size: 25px; line-height: 25px; }
@media (min-width: 1025px) and (max-width: 1599.98px) { .gc2-app-btn .elementor-button-wrapper .elementor-button .elementor-button-text span { font-size: 22px; } }
@media (max-width: 1024px) { .gc2-app-btn .elementor-button-wrapper .elementor-button .elementor-button-text span { font-size: 20px; } }

.elementor_library-template-default .gc2-header-section { background-color: #131628; }

.page-template-elementor_header_footer .elementor-section-wrap { position: static; }

.gc2-menu-mobile .elementor-widget-nav-menu .elementor-nav-menu--main ul li a.elementor-item-active { font-weight: bold; }
.gc2-menu-mobile .elementor-widget-eg-language-switcher .eg-select-layout .eg-select-box .eg-select-list { left: 50%; transform: translateX(-50%); }

.gc2-header-section { -webkit-transition: background-color .3s; transition: background-color .3s; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gc2-header-section .elementor-container { max-width: 1230px !important; }
  .gc2-header-section .elementor-container .elementor-column:last-child .elementor-widget-wrap { padding-left: 0; }
  .gc2-header-section .elementor-container .elementor-widget-nav-menu .elementor-nav-menu--main ul.elementor-nav-menu li a { font-size: 16px; padding: 13px 15px; }
  .gc2-header-section .elementor-container .elementor-element.elementor-widget-eg-language-switcher .elementor-widget-container { padding: 10px 8px; }
  .gc2-header-section .elementor-container .elementor-element.elementor-widget-button .elementor-widget-container { margin-left: 10px; }
  .gc2-header-section .elementor-container .elementor-element.elementor-widget-button .elementor-widget-container .elementor-button-wrapper .elementor-button { font-size: 16px; padding: 15px 20px; } }
@media (min-width: 1025px) and (max-width: 1200px) { .gc2-header-section .elementor-container .elementor-column .elementor-widget-wrap { padding: 10px; }
  .gc2-header-section .elementor-container .elementor-widget-nav-menu .elementor-nav-menu--main ul.elementor-nav-menu li a { font-size: 15px; padding: 13px 10px; }
  .gc2-header-section .elementor-container .elementor-element.elementor-widget-eg-language-switcher .elementor-widget-container { padding: 8px; }
  .gc2-header-section .elementor-container .elementor-element.elementor-widget-eg-language-switcher .elementor-widget-container .eg-select-layout .eg-select-box .eg-select-active { font-size: 13px; }
  .gc2-header-section .elementor-container .elementor-element.elementor-widget-eg-language-switcher .elementor-widget-container .eg-select-layout .eg-select-box .eg-option img { width: 20px; }
  .gc2-header-section .elementor-container .elementor-element.elementor-widget-button .elementor-widget-container { margin-left: 10px; }
  .gc2-header-section .elementor-container .elementor-element.elementor-widget-button .elementor-widget-container .elementor-button-wrapper .elementor-button { font-size: 13px; padding: 12px 15px; } }
.gc2-header-section.elementor-sticky--effects { background-color: #131628; -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25); box-shadow: 0 0 1px rgba(255, 255, 255, 0.25); }

@media (min-width: 1025px) and (max-width: 1599.98px) { .gc2-footer-section .elementor-container.elementor-column-gap-no { max-width: 1230px !important; }
  .gc2-footer-section .gc2-list-logo .eg-icon-list-items .eg-icon-list .eg-icon-item .eg-icon-list-icon > svg { width: 84px; } }

@media (min-width: 1200px) and (max-width: 1599.98px) { .gc2-hero-section .elementor-container .elementor-widget-heading h1.elementor-heading-title { font-size: 70px; }
  .gc2-hero-section .elementor-container .elementor-widget-counter .elementor-counter .elementor-counter-number-wrapper { font-size: 32px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gc2-hero-section .elementor-container .elementor-widget-heading h1.elementor-heading-title { font-size: 50px; }
  .gc2-hero-section .elementor-container .elementor-widget-counter .elementor-counter .elementor-counter-number-wrapper { font-size: 28px; } }
.gc2-hero-section .gc2-counter { backdrop-filter: blur(5px); }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gc2-tech-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gc2-tech-section .gc2-tech-coin-image { right: 0 !important; } }
.gc2-tech-section .gc2-tech-3d .elementor-widget-container p img { margin-bottom: 10px; }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gc2-tech-section .gc2-tech-3d .elementor-widget-container { font-size: 16px; }
  .gc2-tech-section .gc2-tech-3d .elementor-widget-container p img { max-width: 150px; } }
@media (min-width: 768px) and (max-width: 1024px) { .gc2-tech-section .gc2-tech-3d .elementor-widget-container p img { max-width: 200px; } }
@media (max-width: 425px) { .gc2-tech-section .gc2-tech-3d .elementor-widget-container p img { width: 100%; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gc2-metaverse-section .elementor-container .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gc2-metaverse-section .elementor-container .elementor-widget-icon-list .elementor-widget-container .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text { font-size: 16px; }
  .gc2-metaverse-section .elementor-container .elementor-section.gc2-metaverse-pre-order { padding-top: 120px; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gc2-app-section .elementor-container .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; }
  .gc2-app-section .elementor-container .elementor-widget-icon-box .elementor-icon-box-wrapper .elementor-icon-box-icon .elementor-icon { font-size: 27px; }
  .gc2-app-section .elementor-container .elementor-widget-icon-box .elementor-icon-box-wrapper .elementor-icon-box-content .elementor-icon-box-title { font-size: 22px; }
  .gc2-app-section .elementor-container .elementor-widget-icon-box .elementor-icon-box-wrapper .elementor-icon-box-content .elementor-icon-box-description { font-size: 16px; } }
@media (max-width: 767.98px) { .gc2-app-section .gc2-app-sevice .elementor-widget-container .elementor-icon-box-wrapper { display: flex; text-align: left; }
  .gc2-app-section .gc2-app-sevice .elementor-widget-container .elementor-icon-box-wrapper .elementor-icon-box-icon { margin-right: 15px !important; } }

@media (min-width: 1025px) and (max-width: 1599.98px) { .gc2-crypto-section .elementor-container .elementor-column.gc2-crypto-left { width: 60%; }
  .gc2-crypto-section .elementor-container .elementor-column.gc2-crypto-left .gc2-crypto-info { padding: 22px; }
  .gc2-crypto-section .elementor-container .elementor-column.gc2-crypto-left .gc2-crypto-info .elementor-widget-wrap { padding: 8px; }
  .gc2-crypto-section .elementor-container .elementor-column.gc2-crypto-left .gc2-crypto-info .elementor-widget-heading h4.elementor-heading-title { font-size: 21px; }
  .gc2-crypto-section .elementor-container .elementor-column.gc2-crypto-left .gc2-crypto-info .elementor-widget-eg-button-copy .eg-button-copy-wrap .eg-text { font-size: 21px; }
  .gc2-crypto-section .elementor-container .elementor-column.gc2-crypto-right { width: 40%; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gc2-crypto-section .elementor-widget-icon-box .elementor-widget-container .elementor-icon-box-wrapper .elementor-icon-box-icon .elementor-icon { font-size: 27px; }
  .gc2-crypto-section .elementor-widget-icon-box .elementor-widget-container .elementor-icon-box-wrapper .elementor-icon-box-content .elementor-icon-box-title { font-size: 22px; }
  .gc2-crypto-section .elementor-widget-icon-box .elementor-widget-container .elementor-icon-box-wrapper .elementor-icon-box-content .elementor-icon-box-description { font-size: 16px; } }
@media (max-width: 767.98px) { .gc2-crypto-section .gc2-crypto-left .gc2-crypto-sevice .elementor-widget-container .elementor-icon-box-wrapper { display: flex; text-align: left; }
  .gc2-crypto-section .gc2-crypto-left .gc2-crypto-sevice .elementor-widget-container .elementor-icon-box-wrapper .elementor-icon-box-icon { margin-right: 15px !important; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gc2-roadmap-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; } }
.gc2-roadmap-section .gc2-roadmap-phase .eg-phases .eg-list-phases .eg-phase-item { backdrop-filter: blur(10px); }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gc2-roadmap-section .gc2-roadmap-phase .eg-phases .eg-list-phases .eg-phase-item { padding: 30px 25px; }
  .gc2-roadmap-section .gc2-roadmap-phase .eg-phases .eg-list-phases .eg-phase-item .eg-phase-heading .eg-phase-title { font-size: 26px; } }
@media (min-width: 1025px) and (max-width: 1199.98px) { .gc2-roadmap-section .gc2-roadmap-phase .eg-phases .eg-list-phases .eg-phase-item { padding: 30px 20px; }
  .gc2-roadmap-section .gc2-roadmap-phase .eg-phases .eg-list-phases .eg-phase-item .eg-phase-heading .eg-phase-step { font-size: 21px; }
  .gc2-roadmap-section .gc2-roadmap-phase .eg-phases .eg-list-phases .eg-phase-item .eg-phase-heading .eg-phase-title { font-size: 23px; line-height: 36px; }
  .gc2-roadmap-section .gc2-roadmap-phase .eg-phases .eg-list-phases .eg-phase-item .eg-phase-content ul li { font-size: 16px; line-height: 25px; } }
@media (max-width: 767.98px) { .gc2-roadmap-section .gc2-roadmap-phase .elementor-widget-container .eg-swiper-button-prev { left: 0; }
  .gc2-roadmap-section .gc2-roadmap-phase .elementor-widget-container .eg-swiper-button-next { right: 0; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gc2-investors-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; } }

.gc2-members-section .gc2-team-members .eg-member__thumbnail { padding: 50px; background: linear-gradient(135deg, #905FCB 0%, #3671E9 100%); border-radius: 16px; }
.gc2-members-section .gc2-team-members .eg-swiper-button-prev { left: 0; }
.gc2-members-section .gc2-team-members .eg-swiper-button-next { right: 0; }
@media (max-width: 1599.98px) { .gc2-members-section .gc2-team-members .eg-member__thumbnail { padding: 25px; }
  .gc2-members-section .gc2-team-members .eg-member__title { font-size: 22px; } }
@media (min-width: 1200px) and (max-width: 1599.98px) and (min-width: 1200px) and (max-width: 1599.98px) { .gc2-members-section .elementor-container { max-width: 1360px !important; }
  .gc2-members-section .elementor-container .elementor-widget-eg-members-carousel .elementor-widget-container { padding: 0 65px !important; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gc2-members-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; } }
@media (max-width: 1023.98px) { .gc2-members-section .gc2-team-members .eg-member__thumbnail { padding: 20px; } }

@media (min-width: 1025px) and (max-width: 1199.98px) { .gc2-faqs-section .elementor-widget-heading .elementor-widget-container h2.elementor-heading-title { font-size: 50px; } }
.gc2-faqs-section .gc2-answer-question .elementor-widget-container .elementor-accordion .elementor-accordion-item { box-shadow: inset 0px -0.15px 0 #fff; }
.gc2-faqs-section .gc2-answer-question .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-active .elementor-accordion-title { font-weight: bold; }
.gc2-faqs-section .gc2-answer-question .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-active .elementor-accordion-title span { color: #FFFFFF; background: #3671E9; box-shadow: 0px 10px 20px rgba(54, 113, 233, 0.3); }
.gc2-faqs-section .gc2-answer-question .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-accordion-title { display: flex; font-weight: 400; }
.gc2-faqs-section .gc2-answer-question .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-accordion-title span { text-align: center; min-width: 30px; height: max-content; font-weight: 400; font-size: 14px; color: #3671E9; line-height: 21px; border: 1px solid #3671E9; box-sizing: border-box; border-radius: 8px; padding: 3px 5px; margin-right: 18px; }
@media (max-width: 767.98px) { .gc2-faqs-section .gc2-answer-question .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-accordion-title span { min-width: 28px; padding: 2px 4px; margin-right: 15px; } }

.gc2-newsletter-section .gc2-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-icon { display: none; }
@media (min-width: 1200px) and (max-width: 1599.98px) { .gc2-newsletter-section .elementor-container { max-width: 1230px !important; } }
@media (max-width: 480px) { .gc2-newsletter-section .gc2-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-email .elementor-field-textual { min-height: 54px; }
  .gc2-newsletter-section .gc2-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button { min-height: 54px; }
  .gc2-newsletter-section .gc2-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-icon { display: block; }
  .gc2-newsletter-section .gc2-newsletter-form .elementor-form .elementor-form-fields-wrapper .elementor-field-type-submit .elementor-button .elementor-button-text { display: none; } }
