html { line-height: 1.15; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ }

*, *::before, *::after { box-sizing: border-box; /* 3 */ }

/* Sections */
body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 1rem; font-weight: 400; line-height: 1.75; color: #333333; background-color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1, h2, h3, h4, h5, h6 { margin-top: .5rem; margin-bottom: 1rem; font-family: inherit; font-weight: 500; line-height: 1.25; color: inherit; }

h1 { font-size: 2.5rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1.75rem; }

h4 { font-size: 1.5rem; }

h5 { font-size: 1.25rem; }

h6 { font-size: 1rem; }

p { margin-top: 0; margin-bottom: 1rem; }

/* Grouping content */
/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ white-space: pre-wrap; }

/* Text-level semantics */
a { background-color: transparent; text-decoration: none; color: #F96328; }

a:hover, a:active { color: #F84F0C; }

a:not([href]):not([tabindex]) { color: inherit; text-decoration: none; }

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus { color: inherit; text-decoration: none; }

a:not([href]):not([tabindex]):focus { outline: 0; }

/** 1. Remove the bottom border in Chrome 57- 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline dotted; /* 2 */ }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content */
/** Remove the border on images inside links in IE 10. */
img { border-style: none; height: auto; max-width: 100%; }

/* Interactive */
/* Add the correct display in Edge, IE 10+, and Firefox. */
details { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

figcaption { font-size: 16px; color: #333333; line-height: 1.4; font-style: italic; font-weight: 400; }

/* Misc */
/** Add the correct display in IE 10+. */
template { display: none; }

/** Add the correct display in IE 10. */
[hidden] { display: none; }

.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0; }

/* Print */
@media print { *, *:before, *:after { background: transparent !important; color: #000 !important; /* Black prints faster */ -webkit-box-shadow: none !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  pre { white-space: pre-wrap !important; }
  pre, blockquote { page-break-inside: avoid; border: 1px solid #cccccc; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
/** Form styling DO NOT CHANGE THIS FILE! To override any of the settings in this section, add your styling code in the custom directory. */
label { display: inline-block; line-height: 1; vertical-align: middle; }

/** 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 1rem; /* 1 */ line-height: 1.5; /* 1 */ margin: 0; /* 2 */ }

input[type="text"], input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"], select, textarea { width: 100%; border: solid 1px #666666; border-radius: 3px; padding: 0.5rem 1rem; transition: all .3s; }

input[type="text"]:focus, input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="url"]:focus, select:focus, textarea:focus { border-color: #333333; outline: 0 none; }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] { width: auto; -webkit-appearance: button; }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

button, [type="submit"], [type="button"] { display: inline-block; font-weight: 400; color: #F96328; text-align: center; white-space: nowrap; user-select: none; background-color: transparent; border: 1px solid #F96328; padding: 0.5rem 1rem; font-size: 1rem; border-radius: 3px; transition: all .3s; }

button:focus, [type="submit"]:focus, [type="button"]:focus { outline: 5px auto -webkit-focus-ring-color; }

button:hover, button:focus, [type="submit"]:hover, [type="submit"]:focus, [type="button"]:hover, [type="button"]:focus { color: #ffffff; background-color: #F96328; text-decoration: none; }

button:not(:disabled), [type="submit"]:not(:disabled), [type="button"]:not(:disabled) { cursor: pointer; }

/** Correct the padding in Firefox. */
fieldset { padding: 0.35em 0.75em 0.625em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }

/** Remove the default vertical scrollbar in IE 10+. */
textarea { overflow: auto; resize: vertical; }

/** 1. Add the correct box sizing in IE 10. 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

select { display: block; }

/** Table styling DO NOT CHANGE THIS FILE! To override any of the settings in this section, add your styling code in the custom directory. */
table { background-color: transparent; width: 100%; margin-bottom: 15px; font-size: 0.9em; border-spacing: 0; border-collapse: collapse; }

table th, table td { padding: 15px; line-height: 1.5; vertical-align: top; border: 1px solid #cccccc; }

table th { font-weight: bold; }

table thead th, table tfoot th { font-size: 1em; }

table caption + thead tr:first-child th, table caption + thead tr:first-child td, table caption + thead tr:first-child th, table caption + thead tr:first-child td, table colgroup + thead tr:first-child th, table colgroup + thead tr:first-child td, table colgroup + thead tr:first-child th, table colgroup + thead tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td { border-top: 1px solid #cccccc; }

table tbody > tr:nth-child(odd) > td, table tbody > tr:nth-child(odd) > th { background-color: #f7f7f7; }

table tbody tr:hover > td, table tbody tr:hover > th { background-color: #e9e9e9; }

table tbody + tbody { border-top: 2px solid #cccccc; }

@media (max-width: 767px) { table table { font-size: 0.8em; }
  table table th, table table td { padding: 7px; line-height: 1.3; }
  table table th { font-weight: 400; } }
/** List styling DO NOT CHANGE THIS FILE! To override any of the settings in this section, add your styling code in the custom directory. */
dl, dt, dd, ol, ul, li { margin-top: 0; margin-bottom: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ul, ol { margin-top: 0; margin-bottom: 1rem; }
ul li, ol li { margin-bottom: 0.5rem; }

blockquote { margin: 1rem 0; border-left: 4px solid #F96328; padding-left: 1rem; }

/** DO NOT CHANGE THIS FILE! To override any of the settings in this section, add your styling code in the custom directory. Loading first in the style.scss & classic-editor.scss */
/** General - https://codex.wordpress.org/CSS#WordPress_Generated_Classes DO NOT CHANGE THIS FILE to override any of the settings in this section, add your styling code in the custom directory. */
.alignright { float: right; margin-left: 1rem; }

.alignleft { float: left; margin-right: 1rem; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

.alignwide { margin-left: -80px; margin-right: -80px; width: calc(100% + 160px); max-width: 100vw; }
@media (max-width: 767px) { .alignwide { margin-left: -40px; margin-right: -40px; width: calc(100% + 80px); } }
@media (max-width: 585px) { .alignwide { margin-left: 0; margin-right: 0; width: 100%; } }

.alignfull { margin-left: calc((50% + 7px) - 50vw); margin-right: calc((50% + 7px) - 50vw); max-width: 100vw; width: calc( 100vw - 16px ); }

.wp-caption { margin-bottom: 1.25rem; max-width: 100%; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { display: block; margin-left: auto; margin-right: auto; }

.wp-caption-text { margin: 0; }

.gallery-caption { display: block; font-size: 0.8125rem; line-height: 1.5; margin: 0; padding: 0.75rem; }

.sticky { position: relative; display: block; }

.bypostauthor { font-size: inherit; }

.hide { display: none !important; }

.wp-block-button { color: #FFFFFF; }

.wp-block-cover { color: #FFFFFF; margin-bottom: 0.9rem; }

.post-password-form input[type="submit"] { vertical-align: bottom; }

.wp-block-media-text { margin-bottom: 1rem; }

.gallery { display: flex; flex-wrap: wrap; margin: 1rem 0; }
.gallery .gallery-item { margin: 0; padding: 4px; }
.gallery.gallery-columns-2 .gallery-item { width: 50%; }
.gallery.gallery-columns-3 .gallery-item { width: 33.33%; }
.gallery.gallery-columns-4 .gallery-item { width: 25%; }
.gallery.gallery-columns-5 .gallery-item { width: 20%; }
.gallery.gallery-columns-6 .gallery-item { width: 16.66%; }
.gallery.gallery-columns-7 .gallery-item { width: 14.28%; }
.gallery.gallery-columns-8 .gallery-item { width: 12.5%; }
.gallery.gallery-columns-9 .gallery-item { width: 11.11%; }
@media (max-width: 1024px) { .gallery.gallery-columns-7 .gallery-item, .gallery.gallery-columns-8 .gallery-item, .gallery.gallery-columns-9 .gallery-item { width: 16.66%; } }
@media (max-width: 768px) { .gallery.gallery-columns-5 .gallery-item, .gallery.gallery-columns-6 .gallery-item, .gallery.gallery-columns-7 .gallery-item, .gallery.gallery-columns-8 .gallery-item, .gallery.gallery-columns-9 .gallery-item { width: 25%; } }
@media (max-width: 576px) { .gallery.gallery-columns-4 .gallery-item, .gallery.gallery-columns-5 .gallery-item, .gallery.gallery-columns-6 .gallery-item, .gallery.gallery-columns-7 .gallery-item, .gallery.gallery-columns-8 .gallery-item, .gallery.gallery-columns-9 .gallery-item { width: 33.33%; } }

.post-tags { margin: 1.5rem 0; clear: both; }

/*
DO NOT CHANGE THIS FILE
to override any of the settings in this section, add your styling code in the custom directory. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
.screen-reader-text:focus { background-color: #eeeeee; clip: auto !important; clip-path: none; color: #333333; display: block; font-size: 1rem; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

/** Header styling and layout */
.site-header { /* Backwards compat for GemCrypto 2.3.0 */ display: flex; flex-wrap: wrap; justify-content: space-between; padding-top: 1rem; padding-bottom: 1rem; position: relative; }
.site-header .site-navigation { justify-content: flex-end; }
.site-header .site-branding { display: flex; flex-direction: column; justify-content: center; }
.site-header .header-inner { display: flex; flex-wrap: wrap; justify-content: space-between; }
.site-header .header-inner .custom-logo-link { display: block; }
.site-header .header-inner .site-branding .site-title, .site-header .header-inner .site-branding .site-description { margin: 0; }
.site-header .header-inner .site-branding.show-title .site-logo { display: none !important; }
.site-header .header-inner .site-branding.show-logo .site-title { display: none !important; }
.site-header:not(.header-stacked) .header-inner .site-branding { max-width: 30%; }
.site-header:not(.header-stacked) .header-inner .site-navigation { max-width: 70%; }
.site-header.header-inverted .header-inner { flex-direction: row-reverse; }
.site-header.header-inverted .header-inner .site-branding { text-align: right; }
.site-header.header-inverted .header-inner .site-navigation { justify-content: start; }
.site-header.header-stacked .header-inner { align-items: center; flex-direction: column; text-align: center; }
@media (max-width: 576px) { .site-header .header-inner:not(.header-stacked) .site-branding { max-width: 80%; } }

/** Footer styling and layout */
.site-footer { padding-top: 1rem; padding-bottom: 1rem; position: relative; }
.site-footer .footer-inner { display: flex; flex-wrap: wrap; justify-content: space-between; }
.site-footer .footer-inner .custom-logo-link { display: block; }
.site-footer .footer-inner .site-navigation { justify-content: flex-end; }
.site-footer .footer-inner .site-branding { display: flex; flex-direction: column; justify-content: center; }
.site-footer .footer-inner .site-branding .site-title, .site-footer .footer-inner .site-branding .site-description { margin: 0; }
.site-footer .footer-inner .site-branding.show-title .site-logo { display: none !important; }
.site-footer .footer-inner .site-branding.show-logo .site-title { display: none !important; }
.site-footer .footer-inner .copyright { align-items: center; display: flex; justify-content: flex-end; }
.site-footer .footer-inner .copyright p { margin: 0; }
.site-footer.footer-inverted .footer-inner { flex-direction: row-reverse; }
.site-footer.footer-inverted .footer-inner .site-branding { text-align: right; }
.site-footer.footer-inverted .footer-inner .site-navigation { justify-content: flex-start; }
.site-footer.footer-has-copyright .footer-inner .site-navigation { justify-content: center; }
.site-footer.footer-stacked .footer-inner { align-items: center; flex-direction: column; text-align: center; }
.site-footer.footer-stacked .footer-inner .site-branding h4.site-title { text-align: center; }
.site-footer.footer-stacked .footer-inner .site-navigation .menu { padding: 0; }
.site-footer:not(.footer-stacked) .footer-inner .site-branding { max-width: 20%; }
.site-footer:not(.footer-stacked) .footer-inner .site-navigation { max-width: 60%; }
.site-footer:not(.footer-stacked) .footer-inner .copyright { max-width: 20%; }
@media (max-width: 576px) { .site-footer:not(.footer-stacked) .footer-inner .site-branding, .site-footer:not(.footer-stacked) .footer-inner .site-navigation, .site-footer:not(.footer-stacked) .footer-inner .copyright { display: block; text-align: center; width: 100%; max-width: none; }
  .site-footer .site-footer .footer-inner .site-navigation ul.menu { justify-content: center; }
  .site-footer .site-footer .footer-inner .site-navigation ul.menu li { display: inline-block; } }

/** Post Item in Archive */
.post { margin-bottom: 3rem; }
.post.sticky { background: #fafafa; padding: 2rem; border-radius: 4px; }
.post.sticky .sticky-post { display: inline-block; font-size: 0.9rem; font-weight: 500; text-transform: uppercase; }
.post .wp-post-image { width: 100%; max-height: 500px; object-fit: cover; border-radius: 3px; }
@media (max-width: 991px) { .post .wp-post-image { max-height: 400px; } }
@media (max-width: 575px) { .post .wp-post-image { max-height: 300px; } }
.post .entry-title { word-wrap: break-word; }
.post .entry-thumbnail { line-height: 0; margin: 1.5rem 0; }
.post .entry-content { margin: 1rem 0; }
.post .entry-meta svg, .post .entry-footer svg { width: 16px; height: 16px; fill: currentColor; margin: -2px 4px 0 0; display: inline-block; vertical-align: middle; }
.post .entry-meta span, .post .entry-footer span { display: inline-block; }
.post .entry-meta span:not(:last-child), .post .entry-footer span:not(:last-child) { margin-right: 1.5rem; }
.post .entry-footer { clear: both; margin: 1rem 0; }

/** Posts pagination */
.pagination { margin: 3rem auto; }
.pagination .nav-links { text-align: center; }
.pagination .nav-links svg { width: 20px; height: 20px; fill: currentColor; }
.pagination .nav-links .page-numbers { display: inline-flex; align-items: center; justify-content: center; vertical-align: middle; min-width: 40px; height: 40px; margin: 4px 2px; padding: 8px; border: 3px; -webkit-box-shadow: 0 0 1px; box-shadow: 0 0 1px; }
.pagination .nav-links .page-numbers.prev { padding-left: 2px; }
.pagination .nav-links .page-numbers.next { padding-right: 2px; }

.author-bio { display: flex; align-items: center; background: #fafafa; margin: 2rem 0; padding: 2rem; border-radius: 3px; }
.author-bio .author-avatar { width: 120px; line-height: 0; }
.author-bio .author-avatar img { border-radius: 3px; }
.author-bio .author-content { width: calc(100% - 120px); padding-left: 1.5rem; }
.author-bio .author-title { font-size: 1.25rem; margin: 0 0 0.5rem; }
.author-bio .author-description { margin-bottom: 0.5rem; }
@media (max-width: 768px) { .author-bio { flex-direction: column; align-items: start; }
  .author-bio .author-avatar { width: 80px; }
  .author-bio .author-content { width: 100%; padding: 1rem 0 0; } }
@media (max-width: 575px) { .author-bio { padding: 1rem; } }

/** Previous/next post navigation */
.post-navigation { background: #fafafa; margin: 2rem 0; padding: 2rem; border-radius: 3px; }
@media (max-width: 575px) { .post-navigation { padding: 1rem; } }
.post-navigation .nav-links { display: flex; justify-content: space-between; }
.post-navigation .nav-links > div { width: calc(50% - 1rem); }
.post-navigation .nav-links > div:not(:first-child) { text-align: right; }
@media (max-width: 768px) { .post-navigation .nav-links { flex-direction: column; }
  .post-navigation .nav-links > div { width: 100%; }
  .post-navigation .nav-links > div:not(:first-child) { margin-top: 1rem; } }
.post-navigation .meta-nav { color: #333333; }
.post-navigation .post-title { word-wrap: break-word; display: inline-block; width: 100%; font-size: 1.25rem; font-weight: 500; line-height: 1.2; margin-top: 4px; }

/** Comments */
#comments .comment-list { margin: 0; padding: 0; list-style: none; font-size: .9em; }
#comments .comment, #comments .pingback { position: relative; }
#comments .comment .comment-body, #comments .pingback .comment-body { display: flex; flex-direction: column; padding: 30px 0 30px 60px; border-bottom: 1px solid #cccccc; }
#comments .comment .avatar, #comments .pingback .avatar { position: absolute; left: 0; border-radius: 50%; margin-right: 10px; }
#comments .comment-meta { display: flex; justify-content: space-between; margin-bottom: .9rem; }
#comments .reply, #comments .comment-metadata { font-size: 11px; line-height: 1; }
#comments .children { position: relative; list-style: none; margin: 0; padding-left: 30px; }
#comments .children li:last-child { padding-bottom: 0; }
#comments ol.comment-list .children:before { display: inline-block; font-size: 1em; font-weight: normal; line-height: 100%; content: '\21AA'; position: absolute; top: 45px; left: 0; width: auto; }
@media (min-width: 768px) { #comments .comment-author, #comments .comment-metadata { line-height: 1; } }
@media (max-width: 767px) { #comments .comment .comment-body { padding: 30px 0; }
  #comments .comment .avatar { position: inherit; float: left; }
  #comments .children { padding-left: 20px; } }

body.rtl #comments .comment .comment-body, body.rtl #comments .pingback .comment-body { padding: 30px 60px 30px 0; }
body.rtl #comments .comment .avatar, body.rtl #comments .pingback .avatar { left: auto; right: 0; margin-right: 0; margin-left: 10px; }
body.rtl #comments .children { padding-left: 0; padding-right: 30px; }
body.rtl #comments ol.comment-list .children:before { content: '\21A9'; left: auto; right: 0; }
@media (max-width: 767px) { body.rtl #comments .comment .avatar { float: right; } }

/** Navigation Menu's */
.site-header.header-inverted .site-navigation-toggle-holder { justify-content: flex-start; }
.site-header.header-stacked .site-navigation-toggle-holder { justify-content: center; max-width: 100%; }
.site-header.menu-layout-dropdown .site-navigation { display: none; }

.site-navigation-toggle-holder { display: flex; align-items: center; justify-content: flex-end; flex-grow: 1; max-width: 20%; padding: 8px 15px; }
.site-navigation-toggle-holder .site-navigation-toggle { display: flex; align-items: center; justify-content: center; font-size: 22px; padding: 0.25em; cursor: pointer; border: 0 solid; border-radius: 3px; background-color: rgba(0, 0, 0, 0.05); color: #494c4f; }
.site-navigation-toggle-holder.elementor-active .site-navigation-toggle i:before { content: '\e87f'; }

.site-navigation { grid-area: nav-menu; display: flex; align-items: center; flex-grow: 1; }
.site-navigation ul.menu, .site-navigation ul.menu ul { list-style-type: none; padding: 0; }
.site-navigation ul.menu { display: flex; flex-wrap: wrap; }
.site-navigation ul.menu li { position: relative; display: flex; }
.site-navigation ul.menu li:hover > ul { display: block; }
.site-navigation ul.menu li a { display: block; padding: 8px 15px; }
.site-navigation ul.menu li.menu-item-has-children { padding-right: 15px; }
.site-navigation ul.menu li.menu-item-has-children:after { display: block; content: '\25BE'; font-size: 1.5em; align-items: center; color: #666666; position: absolute; right: 0; top: 50%; transform: translateY(-50%); text-decoration: none; }
.site-navigation ul.menu li ul { background: #fff; display: none; min-width: 150px; position: absolute; z-index: 2; left: 0; top: 100%; }
.site-navigation ul.menu li ul li { border-bottom: #eeeeee 1px solid; }
.site-navigation ul.menu li ul li:last-child { border-bottom: none; }
.site-navigation ul.menu li ul li.menu-item-has-children a { flex-grow: 1; }
.site-navigation ul.menu li ul li.menu-item-has-children:after { transform: translateY(-50%) rotate(-90deg); }
.site-navigation ul.menu li ul ul { left: 100%; top: 0; }

footer .site-navigation ul.menu a { padding: 5px 15px; }
footer .site-navigation ul.menu li ul { top: auto; bottom: 100%; }
footer .site-navigation ul.menu li ul ul { bottom: 0; }

.site-navigation-dropdown { margin-top: 10px; transition: max-height 0.3s, transform 0.3s; transform-origin: top; position: absolute; bottom: 0; left: 0; z-index: 10000; width: 100%; }

.site-navigation-toggle-holder:not(.elementor-active) + .site-navigation-dropdown { transform: scaleY(0); max-height: 0; }
.site-navigation-toggle-holder.elementor-active + .site-navigation-dropdown { transform: scaleY(1); max-height: 100vh; }

.site-navigation-dropdown ul { padding: 0; }
.site-navigation-dropdown ul.menu { position: absolute; width: 100%; padding: 0; margin: 0; background: white; }
.site-navigation-dropdown ul.menu li { display: block; width: 100%; position: relative; }
.site-navigation-dropdown ul.menu li a { display: block; padding: 20px; background: #ffffff; color: #55595c; box-shadow: inset 0 -1px 0 #0000001a; }
.site-navigation-dropdown ul.menu li.current-menu-item a { color: white; background: #55595c; }
.site-navigation-dropdown ul.menu li.elementor-active > ul > li { transform: scaleY(1); max-height: 100vh; }
.site-navigation-dropdown ul.menu > li li { transition: max-height 0.3s, transform 0.3s; transform-origin: top; transform: scaleY(0); max-height: 0; }

@media (max-width: 576px) { .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation { display: none !important; } }
@media (min-width: 768px) { .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation-toggle-holder { display: none !important; } }
@media (min-width: 576px) and (max-width: 767px) { .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation { display: none !important; } }
@media (min-width: 992px) { .site-header.menu-dropdown-tablet:not(.menu-layout-dropdown) .site-navigation-toggle-holder { display: none !important; } }
@media (max-width: 992px) { .site-header.menu-dropdown-tablet:not(.menu-layout-dropdown) .site-navigation { display: none !important; } }
.site-header.menu-dropdown-none:not(.menu-layout-dropdown) .site-navigation-toggle-holder { display: none !important; }

/** Basic responsive layout */
.site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main { margin-right: auto; margin-left: auto; width: 100%; }

body:not([class*="elementor-page-"]) .site-main { padding: 4rem 0; }

@media (max-width: 575px) { .site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main { padding-right: 1rem; padding-left: 1rem; } }
@media (min-width: 576px) { .site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main { max-width: 500px; }
  .site-header.header-full-width .header-inner { max-width: 100%; }
  .site-footer.footer-full-width .footer-inner { max-width: 100%; } }
@media (min-width: 768px) { .site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main { max-width: 600px; }
  .site-header.header-full-width { max-width: 100%; }
  .site-footer.footer-full-width { max-width: 100%; } }
@media (min-width: 992px) { .site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main { max-width: 800px; }
  .site-header.header-full-width { max-width: 100%; }
  .site-footer.footer-full-width { max-width: 100%; } }
@media (min-width: 1200px) { .site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main { max-width: 960px; }
  /* Override the default width for the dynamic header and footer */
  .site-header .header-inner, .site-footer .footer-inner { max-width: 1140px; }
  .site-header.header-full-width { max-width: 100%; }
  .site-footer.footer-full-width { max-width: 100%; } }
.site-header + .elementor { min-height: calc( 100vh - 320px); }

.single-members .members { display: flex; }
.single-members .members .entry-thumbnail { width: 40%; margin: 0; line-height: 0; }
.single-members .members .entry-thumbnail img { width: 100%; height: auto; border-radius: 4px; }
.single-members .members .entry-content { width: 60%; padding-left: 60px; }
.single-members .members .entry-job { font-weight: 500; text-transform: uppercase; margin-bottom: 1rem; }
.single-members .members .entry-heading { margin-bottom: 0.5rem; }
.single-members .members .entry-email span, .single-members .members .entry-phone span { display: inline-block; font-weight: 500; min-width: 80px; }
.single-members .members .entry-email { margin-bottom: 0.2rem; }
.single-members .members .entry-phone { margin-bottom: 1rem; }
.single-members .members .entry-socials a { position: relative; display: inline-flex; align-items: center; justify-content: center; font-size: 16px; line-height: 1; -webkit-transition: all .3s; transition: all .3s; }
.single-members .members .entry-socials a:not(:last-child) { margin-right: 10px; }
.single-members .members .entry-socials a i, .single-members .members .entry-socials a svg { width: 1em; height: 1em; }
.single-members .members .entry-socials a i:before, .single-members .members .entry-socials a svg:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
@media (max-width: 991px) { .single-members .members .entry-content { padding-left: 30px; } }
@media (max-width: 767px) { .single-members .members { flex-direction: column; }
  .single-members .members .entry-thumbnail { width: 100%; }
  .single-members .members .entry-content { width: 100%; padding: 1rem 0 0; } }
.single-members .related-posts { margin: 4rem 0 2rem; }
.single-members .related-posts .related-heading { margin-bottom: 2rem; }
.single-members .related-posts .members-list { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 30px; }
@media (max-width: 991px) { .single-members .related-posts .members-list { grid-template-columns: 1fr 1fr; } }
@media (max-width: 767px) { .single-members .related-posts .members-list { grid-template-columns: 1fr; } }
.single-members .related-posts .member-item { text-align: center; }
.single-members .related-posts .member-item .entry-thumbnail { margin: 0; line-height: 0; }
.single-members .related-posts .member-item .entry-thumbnail img { width: 100%; height: auto; border-radius: 4px; }
.single-members .related-posts .member-item .entry-title { font-size: 1.5rem; margin: 1rem 0 0.5rem; }
.single-members .related-posts .member-item .entry-job { font-size: 0.9rem; font-weight: 500; text-transform: uppercase; margin-bottom: 0.5rem; }
.single-members .related-posts .member-item .entry-socials a { position: relative; display: inline-flex; align-items: center; justify-content: center; font-size: 16px; line-height: 1; margin: 4px; -webkit-transition: all .3s; transition: all .3s; }
.single-members .related-posts .member-item .entry-socials a i, .single-members .related-posts .member-item .entry-socials a svg { width: 1em; height: 1em; }
.single-members .related-posts .member-item .entry-socials a i:before, .single-members .related-posts .member-item .entry-socials a svg:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.tax-members_category .page-content { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 30px; }
@media (max-width: 991px) { .tax-members_category .page-content { grid-template-columns: 1fr 1fr; } }
@media (max-width: 767px) { .tax-members_category .page-content { grid-template-columns: 1fr; } }
.tax-members_category .members { text-align: center; }
.tax-members_category .members .entry-thumbnail { margin: 0; line-height: 0; }
.tax-members_category .members .entry-thumbnail img { width: 100%; height: auto; border-radius: 4px; }
.tax-members_category .members .entry-title { font-size: 1.5rem; margin: 1rem 0 0.5rem; }
.tax-members_category .members .entry-job { font-size: 0.9rem; font-weight: 500; text-transform: uppercase; margin-bottom: 0.5rem; }
.tax-members_category .members .entry-socials a { position: relative; display: inline-flex; align-items: center; justify-content: center; font-size: 16px; line-height: 1; margin: 4px; -webkit-transition: all .3s; transition: all .3s; }
.tax-members_category .members .entry-socials a i, .tax-members_category .members .entry-socials a svg { width: 1em; height: 1em; }
.tax-members_category .members .entry-socials a i:before, .tax-members_category .members .entry-socials a svg:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.single-projects .projects { display: flex; }
.single-projects .projects .entry-thumbnail { width: 40%; margin: 0; line-height: 0; }
.single-projects .projects .entry-thumbnail img { width: 100%; height: auto; border-radius: 4px; }
.single-projects .projects .entry-content { width: 60%; padding-left: 60px; }
.single-projects .projects .cat-links { font-weight: 500; text-transform: uppercase; margin-bottom: 1rem; }
.single-projects .projects .cat-links svg { width: 1rem; height: 1rem; display: inline-block; vertical-align: middle; color: #F96328; }
.single-projects .projects .entry-meta { margin-bottom: 0.2rem; }
.single-projects .projects .entry-meta span { display: inline-block; min-width: 130px; font-size: 0.9rem; font-weight: 500; text-transform: uppercase; }
.single-projects .projects .entry-type { margin-bottom: 1rem; }
.single-projects .projects .entry-socials a { position: relative; display: inline-flex; align-items: center; justify-content: center; font-size: 16px; line-height: 1; -webkit-transition: all .3s; transition: all .3s; }
.single-projects .projects .entry-socials a:not(:last-child) { margin-right: 10px; }
.single-projects .projects .entry-socials a i, .single-projects .projects .entry-socials a svg { width: 1em; height: 1em; }
.single-projects .projects .entry-socials a i:before, .single-projects .projects .entry-socials a svg:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
@media (max-width: 991px) { .single-projects .projects .entry-content { padding-left: 30px; } }
@media (max-width: 767px) { .single-projects .projects { flex-direction: column; }
  .single-projects .projects .entry-thumbnail { width: 100%; }
  .single-projects .projects .entry-content { width: 100%; padding: 1rem 0 0; } }
.single-projects .related-posts { margin: 4rem 0 2rem; }
.single-projects .related-posts .related-heading { margin-bottom: 2rem; }
.single-projects .related-posts .projects-list { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 30px; }
@media (max-width: 991px) { .single-projects .related-posts .projects-list { grid-template-columns: 1fr 1fr; } }
@media (max-width: 767px) { .single-projects .related-posts .projects-list { grid-template-columns: 1fr; } }
.single-projects .related-posts .project-item .wp-post-image { width: 100%; max-height: 500px; object-fit: cover; border-radius: 3px; }
@media (max-width: 991px) { .single-projects .related-posts .project-item .wp-post-image { max-height: 400px; } }
@media (max-width: 575px) { .single-projects .related-posts .project-item .wp-post-image { max-height: 300px; } }
.single-projects .related-posts .project-item .entry-title { font-size: 1.5rem; margin: 0; }
.single-projects .related-posts .project-item .entry-thumbnail { line-height: 0; margin: 0 0 1rem; }

.tax-projects_category .page-content { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 30px; }
@media (max-width: 767px) { .tax-projects_category .page-content { grid-template-columns: 1fr; } }
.tax-projects_category .projects .wp-post-image { width: 100%; max-height: 500px; object-fit: cover; border-radius: 3px; }
@media (max-width: 991px) { .tax-projects_category .projects .wp-post-image { max-height: 400px; } }
@media (max-width: 575px) { .tax-projects_category .projects .wp-post-image { max-height: 300px; } }
.tax-projects_category .projects .entry-title { font-size: 1.5rem; margin: 0; }
.tax-projects_category .projects .entry-thumbnail { line-height: 0; margin: 0 0 1rem; }
